- content_for :title, "NCR Request"
.container.content.m-request-form
  %h2
    National Capital Region
  %h3
    Purchase Card Approval Request

  = simple_form_for @model_instance, html: { multipart: true } do |f|
    = f.input :project_title
    = f.input :description
    = field_set_tag "Expense type", class: "required" do
      = expense_type_radio_button(f, 'BA60')
      = expense_type_radio_button(f, 'BA61')
      = f.input :emergency, disabled: @model_instance.persisted?, wrapper_html: { data: { filter_key: 'expense-type', filter_value: 'BA61' } }
      = expense_type_radio_button(f, 'BA80')
      = render partial: 'ba_80_fields', locals: {f: f}
    = f.input :building_number, input_html: { class: 'js-selectize', data: { initial: JSON.generate(building_options) } }
    = f.input :org_code, collection: Ncr::Organization.all, label_method: :to_s, prompt: :translate, input_html: { class: 'js-selectize' }
    = f.input :vendor, input_html: { class: 'js-selectize', data: { initial: JSON.generate(vendor_options(@model_instance.vendor)) } }
    = field_set_tag "Amount", class: 'required' do
      = f.input :amount, as: :currency, label_html: { class: 'sr-only' }, input_html: { data: popover_data_attrs('ncr_amount') }
      = f.input :not_to_exceed, as: :radio_buttons, collection: [['Exact', false], ['Not to exceed', true]], label: false
    = f.input :direct_pay
    .form-group
      = label_tag :approver_email, "Approving official's email address", class: 'required'
      = select_tag :approver_email, options_from_collection_for_select(approver_options, :to_s, :to_s, @approver_email), class: 'form-control js-selectize', disabled: @model_instance.approver_email_frozen?, include_blank: true, prompt: 'Type here to search'
    - if @model_instance.new_record?
      = render partial: 'attachments'
    - else
      = field_set_tag "Budget codes" do
        = f.input :cl_number
        = f.input :function_code
        = f.input :soc_code
    = render partial: 'shared/form_submit_button', locals: { form: f }
    - if @model_instance.persisted?
      = link_to "Discard Changes", proposal_url(@model_instance.proposal)
