<% content_for :title, "NCR Request" %>
<div class="container content m-request-form">
  <h2>National Capital Region</h2>
  <h3>
    <% if ENV['HIDE_BA61_OPTION'] == 'true' %>
    BA80
    <% end %>
    Purchase Card Approval Request
  </h3>

  <%= form_for @model_instance, html: {multipart: true} do |f| %>
    <div class="form-group">
      <%= f.label :project_title%>
      <%= f.text_field :project_title, class: 'form-control', placeholder: 'e.g. "Blue paint for the Blue Room"' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', 'aria-describedby'=>'description-add-info' %>
      <span class="form-instructions" id='description-add-info'>
        Include request details (e.g. Room Number, Estimated number of hours)
      </span>
    </div>
    <% if ENV['HIDE_BA61_OPTION'] == 'true' %>
      <%= f.hidden_field :expense_type, value: 'BA80' %>
      <%= render partial: 'ba_80_fields', locals: {f: f} %>
    <% else %>
      <div class="form-group">
        <%= field_set_tag "Expense type" do %>
          <div class="radio">
            <%= f.label :expense_type, value: "BA61" do %>
              <%= f.radio_button :expense_type, "BA61",
                                 :"data-filter-control" => "expense-type" %>
              BA61
            <% end %>
          </div>
          <div class="checkbox" data-filter-key="expense-type"
                                  data-filter-value="BA61">
            <%= f.label :emergency do %>
              <%= f.check_box :emergency %>
              This request was an emergency and I received a verbal Notice to Proceed (NTP)
            <% end %>
          </div>
          <div class="radio">
            <%= f.label :expense_type, value: "BA80" do %>
              <%= f.radio_button :expense_type, "BA80",
                                 :"data-filter-control" => "expense-type" %>
              BA80
            <% end %>
          </div>
          <%= render partial: 'ba_80_fields', locals: {f: f} %>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :building_number %>
      <%= f.collection_select(
            :building_number, Ncr::BUILDING_NUMBERS, :to_s, :to_s,
            {include_blank: true, prompt: "Type here to search"}, {class: 'form-control js-selectize'}) %>
    </div>
    <div class="form-group">
      <%= f.label :org_code %>
      <%= f.collection_select(
            :org_code, Ncr::Organization.all, :to_s, :to_s,
            {include_blank: true, prompt: "Type here to search"}, {class: 'form-control js-selectize'}) %>
    </div>
    <div class="form-group">
      <%= f.label :vendor %>
      <%= f.text_field :vendor,
            class: 'form-control js-selectize',
            placeholder: "Type here to search or add",
            data: {attr: 'vendor', src: '/api/v1/ncr/work_orders.json'} %>
    </div>
    <div class="form-group">
      <%= field_set_tag "Amount" do %>
        <%= f.label :amount, "Dollar Amount", :class => 'sr-only'  %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :amount, class: 'form-control', step: 0.01 %>
        </div>
        <div class="radio">
          <%= f.label :not_to_exceed, value: false do %>
            <%= f.radio_button :not_to_exceed, false %>
            Exact
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :not_to_exceed, value: true do %>
            <%= f.radio_button :not_to_exceed, true %>
            Not to exceed
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="checkbox">
      <%= f.label :direct_pay do %>
        <%= f.check_box :direct_pay %>
        I am going to be using direct pay for this transaction
      <% end %>
    </div>
    <div class="form-group">
      <%= label_tag :approver_email, "Approving Official's Email Address" %>
      <%= email_field_tag :approver_email, @approver_email,
                          class: 'form-control js-selectize',
                          disabled: approver_email_frozen?,
                          data: {attr: 'email_address', src: '/api/v1/users.json'} %>
    </div>
    <% if @model_instance.new_record? %>
      <div class="form-group">
        <%= field_set_tag 'Attachments' do %>
          <ul data-add-minus="true" class="attachments">
          <%- 10.times do %>
            <li><%= file_field_tag "attachments[]" %></li>
          <%- end %>
          </ul>
        <%- end %>
      </div>
    <% end %>
    <%= f.submit "Submit for approval", class: 'form-button' %>
    <% if @model_instance.persisted? %>
      <%= link_to 'Discard Changes', proposal_url(@model_instance.proposal) %>
    <% end %>
  <% end %>
</div>
