<div class="container content">
  <h4>National Capital Region</h4>
  <h3>Purchase Card Approval Request</h3>

  <%= form_for @work_order do |f| %>
    <div class="form-group">
      <%= label_tag :description %>
      <%= text_area_tag :description, @description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= field_set_tag "Expense type" do %>
        <div class="radio">
          <%= f.label :expense_type, value: "BA61" do %>
            <%= f.radio_button :expense_type, "BA61",
                               :"data-filter-control" => "expense-type" %>
            BA61
          <% end %>
        </div>
        <div class="form-group" data-filter-key="expense-type"
                                data-filter-value="BA61">
          <%= f.label :emergency do %>
            <%= f.check_box :emergency %>
            I received a verbal NTP to address this emergency
          <% end %>
        </div>
        <!-- Work order will go here -->
        <div class="radio">
          <%= f.label :expense_type, value: "BA80" do %>
            <%= f.radio_button :expense_type, "BA80",
                               :"data-filter-control" => "expense-type" %>
            BA80
          <% end %>
        </div>
        <div class="form-group" data-filter-key="expense-type"
                                data-filter-value="BA80">
          <%= f.label :rwa_number %>
          <%= f.text_field :rwa_number, class: 'form-control' %>
        </div>
        <!-- Work order will go here -->
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :building_number %>
      <%= f.collection_select(
            :building_number, Ncr::BUILDING_NUMBERS, :to_s, :to_s,
            {include_blank: true}, {class: 'form-control jsChosen'}) %>
    </div>
    <div class="form-group">
      <%= f.label :office %>
      <%= f.collection_select(
            :office, Ncr::OFFICES, :to_s, :to_s,
            {include_blank: true}, {class: 'form-control jsChosen'}) %>
    </div>
    <div class="form-group">
      <%= f.label :vendor %>
      <%= f.text_field :vendor, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= field_set_tag "Amount" do %>
        <%= f.label :amount, "Dollar Amount", :class => 'sr-only'  %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :amount, class: 'form-control', step: 0.01 %>
        </div>
        <div class="radio">
          <%= f.label :not_to_exceed, value: false do %>
            <%= f.radio_button :not_to_exceed, false %>
            Exact
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :not_to_exceed, value: true do %>
            <%= f.radio_button :not_to_exceed, true %>
            Not to exceed
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= label_tag :approver_email, "Approving Official's Email Address" %>
      <%= email_field_tag :approver_email, @approver_email,
                          class: 'form-control' %>
    </div>
    <%= f.submit "Submit for approval", class: 'btn btn-default' %>
  <% end %>
</div>
