%li
  = link_to "New request", new_ncr_work_order_path, class: "new-request-button"
%li
  = link_to "Requests", proposals_path, class: "requests-button"
%li.request-related-button
  = link_to "View all", proposals_path, class: "view-all-button"
%li.request-related-button
  = link_to "Pending", proposals_path, class: "pending-button"
%li.request-related-button
  = link_to "Completed", proposals_path, class: "completed-button"
%li.request-related-button
  = link_to "Canceled", proposals_path, class: "canceled-button"
%li
  = link_to 'Reports', ncr_dashboard_path, class: "reports-button"
