- t_slug = "decorators." + @current_user.client_slug + "/work_order."
- client_data = @client_data_instance
- client_id = client_data.id.to_s
= simple_form_for client_data, html: { multipart: true }, remote: true do |f|
  - i = 0
  - @proposal.new_fields_for_display.each do |field|
    - key = field[:key]
    - value_id = key + '-' + client_id
    - if i == 1
      :plain
        <div class="medium-up-2">
    .column{ id: key + '-wrapper'}
      
      - if key == 'expense_type'
        .detail-wrapper.row{ class: key + "-wrapper"}
          .detail-display.column
            %label.detail-element
              = t(t_slug + "expense_type") 
            %span.detail-value{id: value_id }
              = client_data[:expense_type]
          .detail-edit.column
            %label.detail-element
              = t(t_slug + key) 
            %span.detail-value
              = render partial: field[:partial], locals: { f: f, proposal: @proposal, client_data: client_data }
        - if client_data[:expense_type] == 'BA60'
        - elsif client_data[:expense_type] == 'BA61'
          .detail-wrapper.row{ class: key + "-wrapper"}
            .detail-display.column
              %label.detail-element
                = t(t_slug + "emergency") 
              %span.detail-value{id: value_id }

        - elsif client_data[:expense_type] == 'BA80'
          .detail-wrapper.row{ class: key + "-wrapper"}
            .detail-display.column
              %label.detail-element
                = t(t_slug + "rwa_number") 
              %span.detail-value{id: value_id }
                = client_data[:rwa_number]

          .detail-wrapper.row{ class: key + "-wrapper"}
            .detail-display.column
              %label.detail-element
                = t(t_slug + "work_order_code") 
              %span.detail-value{id: value_id }
                = client_data[:work_order_code]

      - elsif key == 'not_to_exceed' # See 'amount'
      - elsif key == 'amount'
        .detail-wrapper.row{ class: key + "-wrapper"}
          .detail-display.column
            %label.detail-element
              = t(t_slug + "not_to_exceed") 
            %span.detail-value{id: "not_to_exceed" + '-' + client_id }
              = client_data[:not_to_exceed]
          .detail-edit.column
            %label.detail-element
              = t(t_slug + "not_to_exceed") 
            %span.detail-value
              = render partial: field[:partial], locals: { f: f, proposal: @proposal, client_data: client_data }
        
        .detail-wrapper.row{ class: key + "-wrapper"}
          .detail-display.column
            %label.detail-element
              = t(t_slug + "amount") 
            %span.detail-value{id: "amount" + '-' + client_id }
              = client_data[:amount]
          .detail-edit.column
            %label.detail-element
              = t(t_slug + "amount") 
            %span.detail-value
              = render partial: field[:partial], locals: { f: f, proposal: @proposal, client_data: client_data }

      - else
        .detail-wrapper.row{ class: key + "-wrapper"}
          .detail-display.column
            %label.detail-element
              = t(t_slug + key) 
            %span.detail-value{id: value_id }
              = client_data[key]
          .detail-edit.column
            %label.detail-element
              = t(t_slug + key) 
            %span.detail-value
              = render partial: field[:partial], locals: { f: f, proposal: @proposal, client_data: client_data }
    - i = i + 1
  :plain
    </div>

  = submit_tag "Submit", hidden: true
