- content_for :header_icon, "emails/icon-page-circle.png"
- top_head = observer_text(@observation)
- cta_subheader = @reason
- attachment_icon = "emails/icon-clipped_page.png"

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head, style: "no-margin-wrapper" }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader, vertical: "no-top-margin" }

  = render partial: "mail_shared/approval/chain",
    locals: { proposal: @proposal }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "", height: "half" }

%table.container.contain-attributes
  = render partial: "mail_shared/panel/proposal_attributes",
    locals: { proposal: @proposal }

  = render partial: "mail_shared/panel/vertical_buffer"

%table.container
  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "" }

  = render partial: "mail_shared/call_to_action/email_reply",
    locals: { step: @step, show_step_actions: false, proposal: @proposal }
