- content_for :header_icon, "emails/icon-check-green-circle.png"
- top_head = t("mailer.observer_mailer.proposal_complete.header")
- proposal_link_text = t("mailer.view_request_cta")
- cta_subheader = t("mailer.proposal_status_html",
  proposal_status: @proposal.capitalized_detailed_status)

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head }


%table.container.contain-attributes
  / Start Panel Wrapper
  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader, vertical: "", bold: "not-bold" }

  = render partial: "mail_shared/panel/proposal_attributes",
    locals: { proposal: @proposal }

  = render partial: "mail_shared/panel/vertical_buffer"

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "", vertical: "half" }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "", vertical: "half" }

  = render partial: "mail_shared/call_to_action/button",
    locals: { link_path: proposal_url(@proposal), link_text: proposal_link_text }
