<div class="ag_new_form">
  <h1>Create new Approval Group</h1>
  <div class="ag_display">
    <%= form_for(@approval_group) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <label for="approval_group_requester">Requester</label>
      <input id="approval_group_requester" name="approval_group[requester]" type="email">

      <%= f.label :flow, 'Approval flow' %>
      <%= f.select :flow, enum_option_pairs(ApprovalGroup, :flow) %>

      <label for="approval_group_approver1">Approver 1</label>
      <input id="approval_group_approver1" name="approval_group[approver1]" type="email">

      <label for="approval_group_approver2">Approver 2</label>
      <input id="approval_group_approver2" name="approval_group[approver2]" type="email">

      <%= f.submit "Create Approval Group" %>
    <% end %>
  </div>
</div>
