.inset
  %h1 Observers
  %ul
    - @proposal.observers.each do |observer|
      %li
        = observer.full_name
    %li
      = form_for [@proposal, @observation], html: {class: 'form-inline'} do |f|
        = f.fields_for :user do |user_form|
          .form-group
            = user_form.label :email_address
            = user_form.text_field :email_address, class: 'form-control'
        = f.submit 'Add', class: 'btn btn-primary'
