#gsa18f-layout
  %table.w-container.main-container{ width: "800" }
    %tr
      %td
        %h1.communicart_header= "#{title} : #{proposal.name}"
        .communicart_description
          %p
            Requested by:
            %strong= proposal.requester.full_name

    = render partial: "shared/email_status"

    %tr
      %td= client_partial(proposal.client_slug,
        "proposal_properties",
        locals: { proposal: proposal })
