= simple_form_for @client_data_instance, html: { multipart: true }, remote: true do |f|
  - i = 0
  - @proposal.new_fields_for_display.each do |field|
    - if i == 1
      :plain
        <div class="medium-up-2">
  
    .column{ id: field[:key] + '-wrapper'}
      .detail-wrapper.row
        .detail-display
          %label.detail-element
            = t("decorators." + @current_user.client_slug + "/work_order." + field[:key]) 
          %span.detail-value{id: field[:key] + '-' + @client_data_instance.id.to_s }
            = @client_data_instance[field[:key]]
        .detail-edit
          %label.detail-element
            = t("decorators." + @current_user.client_slug + "/work_order." + field[:key]) 
          %span.detail-value
            = render partial: field[:partial], locals: { f: f, proposal: @proposal, client_data: @client_data_instance }
    - i = i + 1
  :plain
    </div>

  = submit_tag "Submit", hidden: true
