<div class="container content">
  <h4>National Capital Region</h4>
  <h3>Purchase Card Approval Request</h3>

  <%= form_for @proposal_form, url: @form_url, method: @form_method do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= field_set_tag "Expense type" do %>
        <% Ncr::ProposalForm::EXPENSE_TYPES.each do |expense_type| %>
          <div class="radio">
            <%= f.label :expense_type, value: expense_type do %>
              <%= f.radio_button :expense_type, expense_type %>
              <%= expense_type %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :rwa_number %>
      <%= f.text_field :rwa_number, disabled:true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :building_number %>
      <%= f.collection_select(
            :building_number, Ncr::ProposalForm::BUILDING_NUMBERS, :to_s, :to_s,
            {include_blank: true}, {class: 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :office %>
      <%= f.collection_select(
            :office, Ncr::ProposalForm::OFFICES, :to_s, :to_s,
            {include_blank: true}, {class: 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :vendor %>
      <%= f.text_field :vendor, class: 'form-control' %>
      <%= f.hidden_field :origin, value: 'ncr' %>
    </div>
    <div class="form-group">
      <%= field_set_tag "Amount" do %>
        <%= f.label :amount, "Dollar Amount", :class => 'sr-only'  %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :amount, class: 'form-control', step: 0.01 %>
        </div>
      <% end %> 
    </div>
    <div class="form-group">
      <div class="radio">
        <%= f.label :not_to_exceed, value: false do %>
          <%= f.radio_button :not_to_exceed, false %>
          Exact
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :not_to_exceed, value: true do %>
          <%= f.radio_button :not_to_exceed, true %>
          Not to exceed
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :approver_email, "Approving Official's Email Address" %>
      <%= f.email_field :approver_email, class: 'form-control' %>
    </div>
    <%= f.submit "Submit for approval", class: 'btn btn-default' %>
  <% end %>
</div>
