%table.full-width.header
  %tr
    %td.hero
    %td
      = image_tag "emails/icon-page-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr
    %td.header
      = t("mailer.step_mailer.proposal_notification.header_html",
        requester_name: @proposal.requester.full_name,
        step_type_noun: @step.noun)

= render partial: "mail_shared/proposal_attributes",
  locals: { proposal: @proposal }

%table.two-thirds-width
  %tr
    %td.email-button
      = link_to generate_approve_url(@step), target: "_blank" do
        %p.email-button
          = @step.action_name

= render partial: "mail_shared/proposal_comment_button",
  locals: { button_text: t("mailer.step_mailer.proposal_notification.cta") }
