- f = @form
- content_for :title, "18F Procurement"
- t_slug = "decorators." + "gsa18f" + "/procurement."

.column{ id: "purchase_type" + '-wrapper'}
  .detail-wrapper.row{ class: "purchase_type-wrapper" }
    .detail-edit.column
      %label.detail-element.required
        = t(t_slug + "purchase_type")
      %span.detail-value
        = f.input :purchase_type, label: false,
          collection: Gsa18f::Procurement::PURCHASE_TYPES.keys,
          include_blank: true
.column{ id: "product_name_and_description" + '-wrapper'}
  .detail-wrapper.row{ class: "product_name_and_description-wrapper" }
    .detail-edit.column
      %label.detail-element.required{ for: "gsa18f_procurement_product_name_and_description" }
        = t(t_slug + "product_name_and_description")
      %span.detail-value
        = f.input :product_name_and_description, label: false
.column{ id: "justification" + '-wrapper'}
  .detail-wrapper.row{ class: "justification-wrapper" }
    .detail-edit.column
      %label.detail-element{ for: "gsa18f_procurement_justification" }
        = t(t_slug + "justification")
      %span.detail-value
        = f.input :justification, label: false
.column{ id: "link_to_product" + '-wrapper'}
  .detail-wrapper.row{ class: "link_to_product-wrapper" }
    .detail-edit.column
      %label.detail-element{ for: "gsa18f_procurement_link_to_product" }
        = t(t_slug + "link_to_product")
      %span.detail-value
        = f.input :link_to_product, label: false
.column{ id: "cost_per_unit" + '-wrapper'}
  .row
    .column.medium-5
      .detail-wrapper.row{ class: "cost_per_unit-wrapper" }
        .detail-edit.column
          %label.detail-element.required{ for: "gsa18f_procurement_cost_per_unit" }
            = t(t_slug + "cost_per_unit")
          %span.detail-value
            = f.input :cost_per_unit, label: false, as: :currency
    .column.medium-5
      .detail-wrapper.row{ class: "quantity-wrapper" }
        .detail-edit.column
          %label.detail-element.required{ for: "gsa18f_procurement_quantity" }
            = t(t_slug + "quantity")
          %span.detail-value
            = f.input :quantity, label: false, input_html: { step: 1 }
    .column.medium-2
.column{ id: "is_tock_billable" + '-wrapper'}
  .detail-wrapper.row{ class: "is_tock_billable" }
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "is_tock_billable")
      %span.detail-value
        = f.input :is_tock_billable, label: false, input_html: { "data-filter-control" => "is_tock_billable" }
        %div{ "data-filter-key" => "is_tock_billable", "data-filter-value" => 1 }
.column{ id: "tock_project" + '-wrapper'}
  .row{ "data-filter-key" => "is_tock_billable", "data-filter-value" => 1 }
    .column.medium-8
      .detail-wrapper.row{ class: "tock_project-wrapper" }
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "tock_project")
          %span.detail-value
            = f.input :tock_project, label: false
.column{ id: "recurring" + '-wrapper'}
  .detail-wrapper.row{ class: "recurring-wrapper" }
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "recurring")
      %span.detail-value
        = f.input :recurring, label: false, input_html: { "data-filter-control" => "recurring" }
        %div{ "data-filter-key" => "recurring", "data-filter-value" => 1 }
.column{ id: "recurring_interval" + '-wrapper'}
  .row{ "data-filter-key" => "recurring", "data-filter-value" => 1 }
    .column.medium-5
      .detail-wrapper.row{ class: "recurring_interval-wrapper" }
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "recurring_interval")
          %span.detail-value
            = f.input :recurring_interval, label: false,
              collection: Gsa18f::Procurement::RECURRENCE,
              include_blank: false,
              required: true
    .column.medium-5
      .detail-wrapper.row{ class: "recurring_length-wrapper" }
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "recurring_length")
          %span.detail-value
            = f.input :recurring_length, label: false, step: 1
    .column.medium-2
.column{ id: "date_requested" + '-wrapper'}
  .row
    .column.medium-5
      .detail-wrapper.row{ class: "date_requested-wrapper" }
        .detail-edit.column
          %label.detail-element{ for: "gsa18f_procurement_date_requested" }
            = t(t_slug + "date_requested")
          %span.detail-value
            = f.input :date_requested, label: false, as: :date, html5: true
.column{ id: "urgency" + '-wrapper'}
  .detail-wrapper.row{ class: "urgency-wrapper" }
    .detail-edit.column
      %label.detail-element{ for: "gsa18f_procurement_urgency" }
        = t(t_slug + "urgency")
      %span.detail-value
        = f.input :urgency, label: false, collection: Gsa18f::Procurement::URGENCY, label_method: :last, value_method: :first
.column{ id: "additional_info" + '-wrapper'}
  .detail-wrapper.row{ class: "additional_info-wrapper" }
    .detail-edit.column
      %label.detail-element{ for: "gsa18f_procurement_additional_info" }
        = t(t_slug + "additional_info")
      %span.detail-value
        = f.input :additional_info, label: false, as: :text
