- content_for :title, "GSA 18f Purchase Request"
.container.content.m-request-form
  %h2 GSA 18f
  %h3 Purchase Request - Supplies
  %p Eg; ergonomic keyboards, foamcore boards, ergonomic mice, monitor stands, post-its, sharpies, etc.
  = form_for @model_instance do |f|
    / Office Location
    .form-group
      = f.label :office
      = f.collection_select(                                 |
        :office, Gsa18f::Procurement::OFFICES, :to_s, :to_s, |
        {include_blank: true}, {class: 'form-control'})      |
    / Product Name and Description -Text Area-
    .form-group
      = f.label :product_name_and_description, 'Product Name and Description', class: "required"
      = f.text_area :product_name_and_description, class: 'form-control'
    / Justification -Text Area-
    .form-group
      = f.label :justification
      = f.text_area :justification, class: 'form-control'
    / Link to Product
    .form-group
      = f.label :link_to_product
      %p
        Search
        %a{:href => "https://www.gsaadvantage.gov/advantage/main/start_page.do", :target => "_blank"} GSA Advantage
        first; then
        %a{:href => "http://www.amazon.com", :target => "_blank"} Amazon;
        then other vendor. Paste link here.
      = f.text_field :link_to_product, class: 'form-control'
    / Amount
    .form-group
      = f.label :cost_per_unit, class: "required"
      .input-group
        .input-group-addon $
        = f.number_field :cost_per_unit, class: 'form-control', step: 0.01
    / Quantity of Product
    .form-group
      = f.label :quantity, class: "required"
      .input-group
        = f.number_field :quantity, class: 'form-control', step: 1
    .form-group
      = f.label :recurring do
        = f.check_box :recurring, :"data-filter-control" => "recurring"
        Recurring Charge
    / Recurring Frequency
    %div{"data-filter-key" => "recurring", "data-filter-value" => "1"}
      .form-group
        = f.label :recurring_interval
        .input-group
          = f.collection_select(                                                |
            :recurring_interval, Gsa18f::Procurement::RECURRENCE, :to_s, :to_s, |
            {include_blank: false}, {class: 'form-control'})                    |
      .form-group
        = f.label :recurring_length
        .input-group
          = f.number_field :recurring_length, class: 'form-control', step: 1, 'aria-describedby'=>'description-add-info'
        #description-add-info.help-block
          e.g. Number of Days, Months, Years
    / Date Requested
    .form-group
      = f.label :date_requested
      .input-group
        = f.date_field :date_requested, as: :date, value: f.object.date_requested
    / Urgency
    .form-group
      = f.label :urgency
      = f.collection_select(                                  |
        :urgency, Gsa18f::Procurement::URGENCY, :to_s, :to_s, |
        {include_blank: true}, {class: 'form-control'})       |
    / Additional Info
    .form-group
      = f.label :additional_info, 'Please include any additional information you feel we need to correctly execute the purchase'
      = f.text_area :additional_info, class: 'form-control'
    = f.submit class: 'form-button'
    - if @model_instance.persisted?
      = link_to 'Discard Changes', proposal_url(@model_instance.proposal)
