- f = @form
- content_for :title, "18F Events"
- t_slug = "decorators." + "gsa18f" + "/event."
- supervisors = User.with_slug("gsa18f")
- duty_station_help = "In what City and State do you work?"
- justification_help = "How will this event improve current or develop new skills associated with your job? How does it align with 18F/TTS?"
- instructions_help = "What does the ops team need to know in order to purchase this training? Please go through the steps to purchase (without paying) to see if there are any extras that someone else purchasing your training would need to know about (i.e. dietary preferences or T-shirt size for a conference with meals/T-shirts)"

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "duty_station")
        %span.hint--top-right.hint--rounded.hint--bounce.hint--medium.hint--inline{"aria-label" => duty_station_help} ?
      %span.detail-value
        = f.input :duty_station,
         label_html: { class: "detail-element" }, label: false

.column{ id: "supervisor_id-wrapper"}
  .row
    .column.medium-12
      .detail-wrapper.row{ class: "supervisor_id-wrapper"}
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "supervisor_id")
          %span.detail-value{class: "holo-chevron"}
            = f.input :supervisor_id,
              collection: supervisors,
              label: false,
              label_html: { class: "detail-element" }, label: false

.column{ id: "title_of_event-wrapper"}
  .detail-wrapper.row{ class: "title_of_event-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "title_of_event")
      %span.detail-value
        = f.input :title_of_event,
         label_html: { class: "detail-element" }, label: false

.column{ id: "event_provider-wrapper"}
  .detail-wrapper.row{ class: "event_provider-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "event_provider")
      %span.detail-value
        = f.input :event_provider,
         label_html: { class: "detail-element" }, label: false

.column{ id: "type_of_event-wrapper"}
  .detail-wrapper.row{ class: "type_of_event-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "type_of_event")
      %span.detail-value
        = f.input :type_of_event,
          collection: Gsa18f::Event::EVENT_TYPES.keys,
          as: :radio_buttons,
          include_blank: true,
          label_html: { class: "detail-element" }, label: false

.column{ id: "cost_per_unit-wrapper"}
  .row
    .column.medium-12
      .detail-wrapper.row{ class: "cost_per_unit-label-wrapper"}
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "cost_per_unit")
  .row
    .column.medium-5
      .detail-wrapper.row{ class: "cost_per_unit-wrapper"}
        .detail-edit.column
          %span.detail-value
            = f.input :cost_per_unit, as: :currency,
              input_html: { value: 0 },
             label_html: { class: "detail-element" }, label: false

.column{ id: "start_date-wrapper"}
  .row
    .column.medium-5.half-col-wrap.sub-card.sub-card-left
      .detail-wrapper.row{ class: "start_date-wrapper"}
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "start_date")
          %span.detail-value
            = f.input :start_date, as: :date, html5: true,
             label_html: { class: "detail-element" }, label: false,
             input_html: {class: "event-date"}

    .column.medium-5.half-col-wrap.sub-card.sub-card-right
      .detail-wrapper.row{ class: "end_date-wrapper"}
        .detail-edit.column
          %label.detail-element
            = t(t_slug + "end_date")
          %span.detail-value
            = f.input :end_date, as: :date, html5: true,
              label_html: { class: "detail-element" }, label: false,
              input_html: {class: "event-date"}
    .column.medium-2

.column{ id: "purpose-wrapper"}
  .detail-wrapper.row{ class: "purpose-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "purpose")
      %span.detail-value
        = f.input :purpose, as: :text,
         label_html: { class: "detail-element" }, label: false

.column{ id: "justification-wrapper"}
  .detail-wrapper.row{ class: "justification-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "justification")
        %span.hint--top-right.hint--rounded.hint--bounce.hint--medium.hint--inline{"aria-label" => justification_help} ?
      %span.detail-value
        = f.input :justification, as: :text,
         label_html: { class: "detail-element" }, label: false

.column{ id: "link-wrapper"}
  .detail-wrapper.row{ class: "link-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "link")
      %span.detail-value
        = f.input :link,
         label_html: { class: "detail-element" }, label: false

.column{ id: "instructions-wrapper"}
  .detail-wrapper.row{ class: "instructions-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "instructions")
        %span.hint--top-right.hint--rounded.hint--bounce.hint--large.hint--inline{"aria-label" => instructions_help} ?
      %span.detail-value
        = f.input :instructions, as: :text,
         label_html: { class: "detail-element" }, label: false

.column{ id: "free_event-wrapper"}
  .detail-wrapper.row{ class: "free_event-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "free_event")
      %span.detail-value
        = f.input :free_event,
         label_html: { class: "detail-element" }, label: false,
         input_html: { "data-filter-control" => "free_event" }

.column{ id: "nfs_form-wrapper", "data-filter-key" => "free_event", "data-filter-value" => 1 }
  .detail-wrapper.row{ class: "nfs_form-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "nfs_form")
      %span.detail-value
        = f.input :nfs_form,
         label_html: { class: "detail-element" }, label: false

.column{ id: "travel_required-wrapper"}
  .detail-wrapper.row{ class: "travel_required-wrapper"}
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "travel_required")
      %span.detail-value
        = f.input :travel_required,
         label_html: { class: "detail-element" }, label: false,
         input_html: { "data-filter-control" => "travel_required" }

.column{ class: "sub-card", id: "estimated_travel_expenses-wrapper", "data-filter-key" => "travel_required", "data-filter-value" => 1 }
  .detail-wrapper.row{ class: "estimated_travel_expenses-wrapper"}
    .column.medium-5
      .detail-edit.column
        %label.detail-element
          = t(t_slug + "estimated_travel_expenses")
        %span.detail-value
          = f.input :estimated_travel_expenses, as: :currency,
           label_html: { class: "detail-element" }, label: false
  .detail-wrapper.row{ class: "estimate-link-wrapper"}
    .column.medium-12
      .detail-edit.column
        %span.detail-value
          %label{class: "detail-element"}
            Links to help estimate travel
          %ul.form-link-list
            %li
              %a{:href => "https://docs.google.com/spreadsheets/d/1uJaGMXJOwURruaPdV7PU5B7Q22_iyF8Q2Gk2uamDG8Y/edit#gid=0", target: "_blank"}
                A tool to estimate all of your expenses together and attach a budget
            %li
              %a{:href => "http://cpsearch.fas.gsa.gov/cpsearch/search.do?method=enter", target: "_blank"}
                Look up flight/rail cost
            %li
              %a{:href => "http://www.gsa.gov/portal/category/104715", target: "_blank"}
                Look up driving mileage rates
            %li
              %a{:href => "http://www.gsa.gov/portal/category/100120", target: "_blank"}
                Look up per diem rates for lodging and meals
