- f = @form
- content_for :title, "18F Events"
- t_slug = "decorators." + "gsa18f" + "/event."
- supervisors = User.with_slug("gsa18f")

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :duty_station,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .row
    .column.medium-12
      .detail-wrapper.row{ class: "duty_station-wrapper"}
        .detail-edit.column
          %label.detail-element{ for: "gsa18f_event_supervisor_id"}
            Supervisor
          %span.detail-value{class: "holo-chevron"}
            = f.input :supervisor_id,
              collection: supervisors,
              label: false,
              label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :title_of_event,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :event_provider,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :type_of_event,
          collection: Gsa18f::Event::EVENT_TYPES.keys,
          as: :radio_buttons,
          include_blank: true,
          label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .row
    .column.medium-5
      .detail-wrapper.row{ class: "duty_station-wrapper"}
        .detail-edit.column
          %span.detail-value
            = f.input :cost_per_unit, as: :currency,
             label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .row
    .column.medium-5
      .detail-wrapper.row{ class: "duty_station-wrapper"}
        .detail-edit.column
          %span.detail-value
            = f.input :start_date, as: :date, html5: true,
             label_html: { class: "detail-element" },
             label: "Event start date",
             input_html: {class: "event-date"}

    .column.medium-5
      .detail-wrapper.row{ class: "duty_station-wrapper"}
        .detail-edit.column
          %span.detail-value
            = f.input :end_date, as: :date, html5: true,
              label_html: { class: "detail-element" },
              label: "Event end date",
              input_html: {class: "event-date"}
    .column.medium-2

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :purpose, as: :text,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :justification, as: :text,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :link,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :instructions, as: :text,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :free_event,
         label_html: { class: "detail-element" },
         input_html: { "data-filter-control" => "free_event" }

.column{ id: "duty_station-wrapper", "data-filter-key" => "free_event", "data-filter-value" => 1 }
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :nfs_form,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :travel_required,
         label_html: { class: "detail-element" },
         input_html: { "data-filter-control" => "travel_required" }

.column{ id: "duty_station-wrapper", "data-filter-key" => "travel_required", "data-filter-value" => 1 }
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :estimated_travel_expenses,
         label_html: { class: "detail-element" }
