- f = @form
- content_for :title, "18F Training"
- t_slug = "decorators." + "gsa18f" + "/training."

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :duty_station,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :supervisor_id,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :title_of_training,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :training_provider,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :purpose,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :justification,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :link,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :instructions,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :nfs_form,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :cost_per_unit,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :estimated_travel_expenses,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :start_date,
         label_html: { class: "detail-element" }

.column{ id: "duty_station-wrapper"}
  .detail-wrapper.row{ class: "duty_station-wrapper"}
    .detail-edit.column
      %span.detail-value
        = f.input :end_date,
         label_html: { class: "detail-element" }
