
= simple_form_for @client_data_instance, html: { multipart: true } do |f|
  - @form = f
  .medium-12.column.edit-mode.new-form-wrapper
    .card#request-details-card
      - if @client_data_instance
        .card-head.column
          %h2
            Event request details
        .content-content.column#view-request-details
          .row
            = render 'gsa18f/events/form_new', locals: { client_slug: "gsa18f" }
  .medium-12.column.edit-mode.new-form-wrapper#card-for-attachments
    .card#attachments-ard
      - if @client_data_instance
        .card-head.column
          %h2
            Attachments
        .content-content.column#view-request-details
          .row
            .form-group
              = field_set_tag "" do
                %ul.attachments{ data: { add_minus: true } }
                  - Gsa18f::EventsController::MAX_UPLOADS_ON_NEW.times do
                    %li.attachment-button-wrap
                      %label.button.primary.attach-icon.large.attachment-label
                        Attach a File
                        = image_tag  "attachment.png", :class => "attachment-icon"
                        = file_field_tag "attachments[]", { style: "display: none;" }
                      %p.file-name
                        No IDPs attachments have been added to this request.


  = render partial: "proposals/details/save_action", locals: { proposal: @proposal }
