<%#-- "proposals" is the critical local variable for using this partial --%>
<%#-- "role" (either 'requester' or 'approver') modifies the list slightly --%>
<%#-- "closed" (bool) determines whether we're showing closed proposals or not. --%>
<%#-- "limit" is the maximum number of proposals to show. --%>
<table class="proposal-list">
  <tr class="header">
    <th class="sixth" scope="col"><h5>ID</h5></th>
    <th class="first" scope="col"><h5>Request</h5></th>
    <th class="sixth" scope="col"><h5>Requester</h5></th>
    <th class="sixth" scope="col"><h5>Status</h5></th>
    <th class="sixth" scope="col"><h5>Submitted</h5></th>
  </tr>
  <%- if defined? limit %>
    <%- proposals_list = proposals.limit(limit) %>
  <%- else %>
    <%- proposals_list = proposals %>
  <%- end %>
  <%- proposals_list.each do |proposal| %>
    <tr>
      <td class="sixth"><a href="<%= proposal_url(proposal) %>" aria-label="Proposal <%= proposal.public_identifier %> <%= proposal.name %>"><%= proposal.public_identifier %></a></td>
      <td class="first"><a href="<%= proposal_url(proposal) %>" aria-label="Proposal <%= proposal.public_identifier %> <%= proposal.name %>"><%= proposal.name %></a></td>
      <td class="sixth"><%= proposal.requester.email_address %></td>
      <td class="sixth">
        <%= render partial: 'proposals/review_status',
            locals: {proposal: proposal} %>
      </td>
      <td class="sixth"><%= date_with_tooltip(proposal.created_at) %></td>
    </tr>
  <%- end %>
</table>
