- content_for :header_icon, "emails/icon-pencil-circle.png"
- top_head = t("mailer.attachment_mailer.new_attachment_notification.header_html",
  proposal_name: @proposal.name, user_name: @attachment_user.full_name)
- panel_icon = "emails/icon-clipped_page.png"
- panel_action = t("mailer.attachment_mailer.new_attachment_notification.activity_description",
  user_name: @attachment_user.full_name)
- panel_action_date = time_and_date(@attachment.created_at)
- panel_image = @attachment.decorate.file_preview
- cta_subheader = t("mailer.attachment_mailer.new_attachment_notification.subheader")

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head}

  / Start Panel Wrapper
  = render partial: "mail_shared/panel/header"

  = render partial: "mail_shared/panel/row_description",
    locals: { icon: panel_icon, action: panel_action, datetime: panel_action_date}

  = render partial: "mail_shared/panel/row_content_image",
    locals: { image: panel_image, image_link: proposal_url(@proposal), last: true}

  = render partial: "mail_shared/panel/vertical_buffer"
  / End Panel Wrapper

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader}

  = render partial: "mail_shared/call_to_action/button",
    locals: { link_path: proposal_url(@proposal),
              link_text: t("mailer.view_request_cta")}

  = render partial: "mail_shared/call_to_action/button",
    locals: { link_path: proposal_url(@proposal, anchor: "comments"),
              link_text: t("mailer.add_comment_cta")}
