%table.body
  %tr
    %td.center{:align => "center", :valign => "top"}
      %center
        / Start Header
        %table.row.header
          %tr
            %td.center{:align => "center"}
              %center
                %table.container
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td.sub-columns.center{:align => "center", :valign => "top"}
                            %center
                          %td.expander
        %table.row
          %tr
            %td.center{:align => "center"}
              %center
                %table.container
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td.sub-columns.center{:align => "center", :valign => "top"}
                            %center
                              = image_tag "emails/icon-pencil-circle.png", class: "", :style => "float: none; margin: 20px auto 0;"
                          %td.expander
        
          / End Header
          / Start Container
          %table.container
            %tr
              %td
                %table.row
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td
                            %h3{:style => 'text-align: center; max-width: 80%; margin: 0 auto;'}
                              = t("mailer.new_attachment_email.header_html",
                                user_name: @attachment_user.full_name)
                              %br/

                            %br
                          %td.expander
                %table.row
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td.panel{:style => 'border-left: none; border-right: none; border-bottom: none; border-top: 10px solid #0744a4;'}
                            %table.row
                              %tr
                                %td.wrapper
                                  %table.twelve.columns
                                    %tr
                                      %td
                                        %h3{ :style => 'padding-left: 15px; padding-right: 15px; font-weight: 300; margin-top: 5px;'}
                                          Activity

                                      %td.expander
                            %table.row
                              %tr
                                %td.wrapper{:style => '    padding-bottom: 0px;'}
                                  %table.two.columns{:style => "width: 60px;"}
                                    %tr
                                      %td{:style => 'text-align: center;'}
                                        = image_tag "emails/icon-clippedPage.png", class: "", :style => "float: none; margin: 0 auto; max-width: 40%;"
                                      %td.expander
                                %td.wrapper.last{:style => 'padding-bottom: 0px;'}
                                  %table.ten.columns
                                    %tr
                                      %td{:style => 'margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;'}
                                        %p{:style => 'margin-bottom: 0px; font-style: italic; color: #888;'}
                                          = t("mailer.new_attachment_email.header_html",
                                            user_name: @attachment_user.full_name,
                                            proposal_name: @proposal.name)
                                          %br/
                                          #{@proposal.created_at.strftime("%m/%d/%Y")} at #{@proposal.created_at.strftime("%I:%M %P")}
                            %table.row
                              %tr
                                %td.wrapper
                                  %table.one.columns
                                    %tr
                                      %td{:style => 'text-align: center;'}
                                      
                                      %td.expander
                                %td.wrapper{:style => 'text-align: center; border-left: 2px solid #ccc;'}
                                  %table.one.columns
                                    %tr
                                      %td
                                      
                                      %td.expander
                                %td.wrapper.last{:style => 'padding-bottom: 0px;'}
                                  %table.ten.columns
                                    %tr
                                      %td{:style => 'padding-bottom: 0px;'}
                                        %img{:src => "http://fakeimg.pl/500x300?text=FPO for image preview", :alt => "", :style => 'margin-top: 20px;'}/
                                      %td.expander
                            %table.row
                              %tr{:style => 'height: 20px;'}  
                %table.row
                  %tr
                    %td.center{:align => "center"}
                      %center
                        %table.container
                          %tr
                            %td.wrapper.last
                              %table.twelve.columns
                                %tr
                                  %td.sub-columns.center{:align => "center", :valign => "top"}
                                    %center
                                      %p{ :style => 'margin-top: 30px; margin-bottom: 30px; font-size: 18px; color: #555; max-width: 80%; text-align: center; line-height: 1.3em;' }
                                        = t("mailer.new_attachment_email.subheader")
                %table.row
                  %tr
                    %td.center{:align => "center"}
                      %center
                        %table.container
                          %tr
                            %td.wrapper.last
                              %table.twelve.columns
                                %tr
                                  %td.sub-columns.center{:align => "center", :valign => "top"}
                                    %center
                                      = render partial: "mail_shared/proposal_button",
                                        locals: { button_text: t("mailer.new_attachment_email.cta") }
                %table.row
                  %tr
                    %td.center{:align => "center"}
                      %center
                        %table.container
                          %tr
                            %td.wrapper.last
                              %table.twelve.columns
                                %tr
                                  %td.sub-columns.center{:align => "center", :valign => "top"}
                                    %center
                                      = render partial: "mail_shared/proposal_comment_button",
                                        locals: { button_text: t("mailer.new_attachment_email.cta_2") }

                          %td.expander
                = render partial: "mail_shared/footer"


