%table.full-width.header
  %tr
    %td.hero
    %td
      = image_tag "emails/icon-pencil-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr
    %td.header
      = t("mailer.new_attachment_email.header_html",
        user_name: @attachment_user.full_name,
        proposal_name: @proposal.name)

%table.two-thirds-width
  %tr
    %td.subheader
      = t("mailer.new_attachment_email.subheader")

= render partial: "mail_shared/proposal_button",
  locals: { button_text: t("mailer.new_attachment_email.cta") }

= render partial: "mail_shared/proposal_comment_button",
  locals: { button_text: t("mailer.new_attachment_email.cta_2") }
