%table.body
  %tr
    %td.center{:align => "center", :valign => "top"}
      %center
        / Start Header
        %table.row.header
          %tr
            %td.center{:align => "center"}
              %center
                %table.container
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td.sub-columns.center{:align => "center", :valign => "top"}
                            %center
                          %td.expander
        %table.row
          %tr
            %td.center{:align => "center"}
              %center
                %table.container
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td.sub-columns.center{:align => "center", :valign => "top"}
                            %center
                              = image_tag "emails/icon-pencil-circle.png", class: "", :style => "float: none; margin: 20px auto 0;"
                          %td.expander
        
          / End Header
          / Start Container
          %table.container
            %tr
              %td
                %table.row
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td
                            %h3{:style => 'text-align: center; max-width: 80%; margin: 0 auto;'}
                              = t("mailer.new_attachment_email.header_html",
                              user_name: @attachment_user.full_name,
                              proposal_name: @proposal.name)
                            %br
                          %td.expander
                %table.row
                  %tr
                    %td.wrapper.last
                      %table.twelve.columns
                        %tr
                          %td.panel
                            %table.row
                              %tr
                                %td.wrapper
                                  %table.twelve.columns
                                    %tr
                                      %td
                                        %h3
                                          Activity

                                      %td.expander
                            %table.row
                              %tr
                                %td.wrapper
                                  %table.two.columns
                                    %tr
                                      %td{:style => 'text-align: center;'}
                                        = image_tag "emails/icon-clippedPage.png", class: "", :style => "float: none; margin: 0 auto; max-width: 40%; padding-right: 20px;"
                                      %td.expander
                                %td.wrapper.last
                                  %table.ten.columns
                                    %tr
                                      %td{:style => "margin-top:40px;"}
                                    %tr
                                      %td
                                        = t("mailer.new_attachment_email.header_html",
                                          user_name: @attachment_user.full_name,
                                          proposal_name: @proposal.name)
                            %table.row
                              %tr
                                %td.wrapper
                                  %table.one.columns
                                    %tr
                                      %td{:style => 'text-align: center;'}
                                      
                                      %td.expander
                                %td.wrapper{:style => 'text-align: center; border-left: 2px solid #ccc;'}
                                  %table.one.columns
                                    %tr
                                      %td
                                      
                                      %td.expander
                                %td.wrapper.last{:style => 'padding-bottom: 0px;'}
                                  %table.ten.columns
                                    %tr
                                      %td{:style => 'padding-bottom: 0px;'}
                                        %img{:src => "http://fakeimg.pl/500x300?text=FPO for image preview", :alt => "", :style => 'margin-top: 30px;'}/
                                      %td.expander
                            %table.row
                              %tr
                                %br/            
                %table.row
                  %tr
                    %td.center{:align => "center"}
                      %center
                        %table.container
                          %tr
                            %td.wrapper.last
                              %table.twelve.columns
                                %tr
                                  %td.sub-columns.center{:align => "center", :valign => "top"}
                                    %center
                                      = t("mailer.new_attachment_email.subheader")
                %table.row
                  %tr
                    %td.center{:align => "center"}
                      %center
                        %table.container
                          %tr
                            %td.wrapper.last
                              %table.twelve.columns
                                %tr
                                  %td.sub-columns.center{:align => "center", :valign => "top"}
                                    %center
                                      = render partial: "mail_shared/proposal_button",
                                        locals: { button_text: t("mailer.new_attachment_email.cta") }
                %table.row
                  %tr
                    %td.center{:align => "center"}
                      %center
                        %table.container
                          %tr
                            %td.wrapper.last
                              %table.twelve.columns
                                %tr
                                  %td.sub-columns.center{:align => "center", :valign => "top"}
                                    %center
                                      = render partial: "mail_shared/proposal_comment_button",
                                        locals: { button_text: t("mailer.new_attachment_email.cta_2") }

                          %td.expander
                = render partial: "mail_shared/footer"


