- case object.event
- when 'create'
  - case object.item
  - when Approval
    = object.item.user.full_name
    was added as an approver.
  - when Attachment
    Uploaded
    = succeed '.' do
      %code
        = object.item.file_file_name
  - when Comment
    Commented:
    = surround '"', '"' do
      = object.item.comment_text
  - when Observation
    = object.item.user.full_name
    was added as an observer.
- when 'update'
  %ul
    - value.each do |change|
      %li
        - case change[0]
        - when '+'
          %code
            = change[1]
          was set to
          = succeed '.' do
            %code
              = diff_val(change[2])
        - when '~'
          %code
            = change[1]
          was changed from
          %code
            = diff_val(change[2])
          to
          = succeed '.' do
            %code
              = diff_val(change[3])
        - when '-'
          %code
            = change[1]
          was removed.
        - else
          = change.inspect
