%ul
  - if object.event == 'update'
    - value.each do |change|
      %li
        - case change[0]
        - when '+'
          %code
            = change[1]
          was set to
          = succeed '.' do
            %code
              = diff_val(change[2])
        - when '~'
          %code
            = change[1]
          was changed from
          %code
            = diff_val(change[2])
          to
          = succeed '.' do
            %code
              = diff_val(change[3])
        - when '-'
          %code
            = change[1]
          was removed.
        - else
          = change.inspect
