%tr{align: "center", valign: "top"}
  %td.wrapper.no-top-padding.last{align: "center", valign: "top"}
    %center
      - @proposal.individual_steps.each_with_index do |step, index|
        - icon_name = 'emails/numbers/icon-number-' + (index + 1).to_s + '.png'
        %table.six.columns
          %tr
            %td.two.sub-columns.last
              = image_tag icon_name
            %td.ten.sub-columns.no-bottom-padding
              %b
                - case index
                - when 0
                  = t("mailer.proposal_mailer.generic_approval_name.step_1")
                - when 1
                  = t("mailer.proposal_mailer.generic_approval_name.step_2")
                - when 2
                  = t("mailer.proposal_mailer.generic_approval_name.step_3")
              %br/
              %span.lighter-text
                = step.user.full_name
              - if index != @proposal.individual_steps.count - 1
                %hr/
            %td.expander
