<!-- "cart" is the critical local variable for using this partial -->
<!-- "title" is used to customize the tile in the h1 below -->
 <table class="w-container main-container" width='800'>
    <tr>
      <td width="500">
        <h1 class="communicart_header">
          <%= title %>
        </h1>

        <div class="communicart_description">
          <p>
            Requested by:
            <strong><%= cart.requester.full_name %></strong>
          </p>
          <p>
            GSA Advantage:
            <strong>[Some description] - Cart #<%= cart.external_id %></strong>
          </p>
        </div>
      </td>
      <td align="right" class="communicart_description" width="300">
        <img src="https://s3.amazonaws.com/18f/c2/img_logo_communicart.gif" width="229" height="43" />
      </td>
    </tr>

    <tr>
      <td class="w-container results-list" colspan="2">
        <table width="100%">
          <tr class='header'>
            <td class="first" width="50%">
              <h5>Product</h5>
            </td>

            <td width="25%">
              <h5>Price</h5>
            </td>

            <td width="25%">
              <h5>Vendor</h5>
            </td>

          </tr><!--BEGIN CartItem Entry-->


          <%- cart.cart_items.each do |cart_item| %>

          <tr class="cart_item_information">
            <!-- Product -->
            <td class="first" valign="top">
              <p class="cart_item_description"><strong><a href="<%= cart_item.url %>"><%= cart_item.description %></a></strong></p>

              <p><%= cart_item.details %></p>

              <ul class="result-tag">
                <%- if cart_item.green? %>

                <li>
                  <div class="green"></div>Green
                </li><%- end %>

                <%- cart_item.features.each do |feature| %>
                  <li>
                    <div class="<%= feature %>"></div>
                    <%= feature %>
                  </li>
                <%- end %>
              </ul>

            </td>

            <!-- Price -->
            <td valign="top">
              <p class="result-item-price"><strong><%= cart_item.subtotal %></strong></p>

              <p class="result-item-units"><%= cart_item.formatted_price %> x <%= cart_item.quantity %> units</p>
            </td>

            <!-- Vendor -->
            <td valign="top">
              <p class="vendor-information">
                <%- if cart_item.getProp('shoppingVenue') %>
                  <%= cart_item.getProp('shoppingVenue') %> <br />
                <%- end %>
                  <span class="info-title">
                    <strong><%= cart_item.vendor %></strong>
                  </span>
                  <%= cart_item.part_number %><br />

                <span class="result-tag">
                  <%- unless cart_item.socio.empty? %>
                    SOCIO:
                      <span class= "tag-values">
                        <%- cart_item.socio.each_with_index do |socio_tag, index| %>
                        <%= socio_tag %><%= "," unless cart_item.socio.count == index+1 %>
                        <%- end %>
                      </span>
                  <%- end %>
                </span>

              </p>
            </td>

          </tr>

          <%- end %>
        </table>

      </td>
    </tr>
  </table>


