<div id='communicart_header'>
  <div class='container'>
    <div id='header-identity'>
      <div id="communicart_logo">Communicart</div>
      <h1>Approval Portal</h1>
    </div>

    <ul id='header-nav'>
      <%- unless signed_in? %>

        <li>
          <%= link_to 'Sign in with MyUSA', "/auth/myusa" %>
        </li>
      <%- else %>
        <li>
          <%= session['user']['email'] %>
          <%= image_tag 'icon-user.png', alt: ' ' %>
        </li>
        <li>
          <%= link_to 'Logout', "/logout", method: :post, class: 'login-link' %>
          <%= image_tag 'icon-logout.png', alt: 'Logout' %>
        </li>
      <%- end %>
    </ul>
  </div>
</div>

<%- if ENV['flag_web_app_landing'] == 'true' %>
  <ul id='breadcrumb-nav'>
    <li><a href='#'>Back to main portal</a></li>
  </ul>
<%- end %>

