<tr class="m-shared-email_status">
  <td colspan="2" padding="10">
    <table id="status-container-detail" width="770" class="col-md-12">
      <tr class="status-header-container <%='cancelled' if @proposal.cancelled? %>">
        <td>
          <strong>Status</strong>
        </td>
        <td class="status-header">
          <%= status_icon_tag(@proposal.status) %>
          <strong><%= @proposal.status %></strong>
          <%- unless @proposal.cancelled? %>
            (<%= @proposal.number_approved %> of <%= @proposal.total_approvers %> steps completed)
          <%- end %>
        </td>
      </tr>
      <%- unless @proposal.cancelled? %>
        <tr class="status-header-container-detail">
          <td colspan="2">
            <table class="approval-details data-container">
              <%- last_status = nil %>
              <%- @proposal.steps_in_list_order.each_with_index do |step,index| %>
                <%- display_status = step.decorate.display_status %>
                <tr class="approval-row">
                  <td>
                    <%- if display_status != last_status %>
                      <strong><%= display_status %></strong>
                    <%- end %>
                  </td>
                  <td>
                    <%- last_approver = index == @proposal.steps_in_list_order.count - 1 %>
                    <%= status_icon_tag(display_status, @proposal.linear?, last_approver) %>
                    <span class="approver">
                      <%= mail_to step.completed_by.email_address, step.completed_by.full_name %>
                    </span>
                    <span class="approver-role">
                      (<%= step.decorate.role_name %>)
                    </span>
                    <% if step.approved? %>
                      <span class='timestamp'>on <%= date_with_tooltip(step.approved_at) %></span>
                    <% end %>
                  </td>
                </tr>
                <%- last_status = display_status %>
              <%- end %>
            </table>
          </td>
        </tr>
      <%- end %>
    </table>
  </td>
</tr>
