<tr class="m-shared-email_status">
  <td colspan="2" padding="10">
    <table id="status-container-detail" width="770" class="col-md-12">
      <%- if @proposal.status == "approved" %>
        <tr class="success">
          <td colspan="2">All of your approvals are complete. Please move forward with your purchase.</td>
        </tr>
      <%- end %>
      <tr class="status-header-container">
        <td>
          <strong>Approval Status</strong>
        </td>
        <td>
          <%= status_icon_tag(@proposal.status) %>
          <strong><%= @proposal.status %></strong>
          (<%= @proposal.number_approved %> of <%= @proposal.total_approvers %> approved)
        </td>
      </tr>
      <tr class="status-header-container-detail">
        <td colspan="2">
          <table class="approval_details data_container">
            <%- last_status = nil %>
            <%- @proposal.approvals_in_list_order.each_with_index do |approval,index| %>
              <tr class="approval-row">
                <td>
                  <%- if approval.status != last_status %>
                    <strong><%= approval.status %></strong>
                  <%- end %>
                </td>
                <td
                  <%= generate_bookend_class(index, @proposal.approvals_in_list_order.count) %>
                >
                  <%= status_icon_tag(approval.status, @proposal.linear?) %>
                  <span class="approver">
                    <%= mail_to approval.user_email_address, approval.user_full_name %>
                  </span>
                  <% if approval.approved? %>
                    <span class='timestamp'>on <%= date_with_tooltip(approval.approved_at) %></span>
                  <% end %>
                </td>
              </tr>
              <%- last_status = approval.status %>
            <%- end %>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
