.row.column
  - history.reverse.each do |old_action|
    - history_user = User.find old_action.whodunnit
    .medium-12.column.status-feed-wrapper.text-left.row
      .medium-table-row.medium-12.status-feed-item.status-attachment-block.no-margin-bottom
        .hide-for-small-only.medium-table-cell.medium-2.column.text-center.status-feed-timeline
          %img{:alt => "", :src => "http://fakeimg.pl/20x20"}
        .medium-table-cell.medium-10.column.status-feed-content
          .title-block
            %span.status-action #{old_action.item_type} #{old_action.event}d by #{history_user.full_name}
            %span.time-from 
              = date_with_tooltip(old_action.created_at, true)
          .item-block
            = old_action.object
