.inset
  .row.m-search-ui
    .input-group
      %input.search-terms.form-control{type: 'text', name: 'text', value: @text}
      .input-group-btn
        .btn-group{role: "group"}
          .dropdown.dropdown-lg
            %button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown", "aria-expanded" => "false"}
              %span.caret
            .dropdown-menu.dropdown-menu-right{role: "menu"}
              %form.form-horizontal{role: "form", action: query_proposals_path, method: 'get'}
                .form-group
                  %label{for: "#{current_user.client_model_slug}[status]"}
                    Search in
                  %select.form-control{name: "#{current_user.client_model_slug}[status]"}
                    = proposal_status_options(@adv_search.value_for("status"))
                .form-group
                  %label{for: "#{current_user.client_model_slug}[requester]"}
                    Card Holder Name
                  %input.form-control{ type: "text",
                    name: "#{current_user.client_model_slug}[requester]",
                    placeholder: current_user.full_name,
                    value: @adv_search.value_for("requester"),
                  }
                .form-group
                  %label{for: "#{current_user.client_model_slug}[client_data.vendor]"}
                    Vendor Name
                  %input.form-control{ type: "text",
                    name: "#{current_user.client_model_slug}[client_data.vendor]",
                    value: @adv_search.value_for("client_data.vendor"),
                  }
                %button.btn.btn-primary
                  %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
          %button.btn.btn-default.search{type: 'submit'}
            Search
