-# @TODO Use shared application view
-# = render template: "layouts/application"
!!!
%html{lang: "en"}
  %head
    %title C2
    = favicon_link_tag
    %meta{"http-equiv" => "content-type", content: "text/html; charset=utf-8"}
    = stylesheet_link_tag "redesign/app"
    = stylesheet_link_tag "home_redesign"
    = render "layouts/analytics"
    %noscript
  %body.home_redesign
    .row
      -# = render "layouts/c2_header_next"
      - unless ENV["DISABLE_SANDBOX_WARNING"] == "true"
        .small-12
          = render partial: "shared/sandbox_warning"
      .small-12
        - flash_list.each do |key, value|
          %div{class: "alert alert-#{key} #{bootstrap_alert_class(key)}"}
            = sanitize value
        %div
          = render partial: "layouts/user_header"
    .row.full-width-row
      %section.small-12#header
        .small-6.small-centered
          %h1 Approvals Without the Hassle
          %p C2 makes government acquisition more efficient by allowing purchase card holders to purchase as quickly and accurately as possible. The results? More time for your staff, better policy adherence, and the knowledge you need to spend more effectively.
    .row.full-width-row
      %section.small-6.small-centered
        %p Join agencies like the National Capital Region and 18F in reclaiming time from your inbox and simplifying your approvals.
    .row.full-width-row#get_started
      %section.small-6.small-centered
        %p Join agencies like the National Capital Region and 18F in reclaiming time from your inbox and simplifying your approvals.
    .row.full-width-row
      %section.small-6.small-centered
        %p Developers, help us refine our product. Fork us on github.
