-# @TODO Use shared application view
-# = render template: "layouts/application"
!!!
%html{lang: "en"}
  %head
    %title C2
    = favicon_link_tag
    %meta{"http-equiv" => "content-type", content: "text/html; charset=utf-8"}
    = stylesheet_link_tag "redesign/app"
    = render "layouts/analytics"
    %noscript
  %body.home_redesign
    #header.row.full-width-row
      -# = render "layouts/c2_header_next"
      .small-12
        - unless ENV["DISABLE_SANDBOX_WARNING"] == "true"
          = render partial: "shared/sandbox_warning"
      - flash_list.each do |key, value|
        %div{class: "alert alert-box alert-#{key} small-12"}
          = sanitize value
      .small-10.medium-6.small-centered.menu
        - if signed_in?
          %ul.primary.fl
            %li
              = link_to "Requests", proposals_path
            = render client_specific_partial(current_user, "header_links")
            %li
              = link_to current_user.email_address, profile_path
            - if current_user.any_admin?
              %li
                %a#summary-link{:href => "/summary"} Summary
            %li
              = button_to "Logout", "/logout", method: :post, class: "login-link"
        %ul.secondary.fl
          %li
            %a{:href => "/help"} Help
          %li
            %a{:href => "/help/new_features"} New Features
          - unless signed_in?
            %li
              = link_to "Sign in with Cloud.gov", auth_url(provider: :cg)
    .row.full-width-row
      %section.small-12.header
        .small-10.medium-6.small-centered
          %h1 Approvals Without the Hassle
          %p C2 makes government acquisition more efficient by allowing purchase card holders to purchase as quickly and accurately as possible. The results? More time for your staff, better policy adherence, and the knowledge you need to spend more effectively.
    .row.full-width-row
      %section.small-10.medium-6.small-centered
        %p
          Join agencies like the
          %a{href:'http://www.gsa.gov/portal/content/104717'}National Capital Region
          and
          %a{href:'https://18f.gsa.gov/'}18F 
          in reclaiming time from your inbox and simplifying your approvals.
        %a{href: "http://www.google.com/recaptcha/mailhide/d?k=01ogt_819WwIwW1ynH9oBRyA==&c=fE9b5Up5uMr-1x-8y_Pvc67z-d_YL31mnSOZ86f6A1c=", class: "button primary large"} Contact us to get started


    .row.full-width-row.get_started
      %section.small-10.medium-6.small-centered
        %div.screenshot
          = image_tag "screenshots/custom_intake.png", alt: "Screenshot: Custom intake"
        %div.descriptor
          %p
            %strong Custom intake
            capture the data you care about
      %section.small-10.medium-6.small-centered
        %div.screenshot
          = image_tag "screenshots/centralized_approval_flow.png", alt: "Screenshot: Centralized approval flow"
        %div.descriptor
          %p
            %strong Centralized approval flow
            securely manages all your records
      %section.small-10.medium-6.small-centered
        %div.screenshot
          = image_tag "screenshots/spending_insights.png", alt: "Screenshot: Spending insights"
        %div.descriptor
          %p
            %strong Spending insights
            make the most of your budget
    .row.full-width-row
      %section.small-10.medium-6.small-centered
        %p
          Developers, help us refine our product.
          %a{href:'https://github.com/18F/C2'}Fork us on github.
