!!!
/
  Photon by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html{lang: 'en'}
  %head
    %title Communicart
    %meta{'http-equiv' => "content-type", content: "text/html; charset=utf-8"}
    /[if lte IE 8]
      = javascript_include_tag "photon/ie/html5shiv.js"
    = stylesheet_link_tag "home"
    = javascript_include_tag "photon/photon"
    = render 'layouts/analytics'
    %noscript
      = stylesheet_link_tag "photon/skel"
      = stylesheet_link_tag "photon/style"
      = stylesheet_link_tag "photon/style-xlarge"
    /[if lte IE 9]
      = stylesheet_link_tag "photon/ie/v9.css"
    /[if lte IE 8]
      = stylesheet_link_tag "photon/ie/v8.css"

  %body
    / Header
    %section#header
      - flash_list.each do |key, value|
        %div{class: "alert alert-#{key} #{bootstrap_alert_class(key)}"}
          = value
      .photon-header-nav-container
        = render 'layouts/header_nav'
      .inner
        %span.icon.major
          = image_tag "img-logo-communicart-portal.png", alt: "Communicart Logo"
      .inner
        %h1 Approvals Without the Hassle
        %p Communicart automates the approval process, eliminating spreadsheets and decluttering your inbox

    / One
    %section#one.main.style1
      .container
        %div{class: "row 150%"}
          %div{class: "6u 12u$(medium)"}
            %p Communicart makes government acquisition more efficient by allowing P-Card holders to purchase as quickly and accurately as possible. The results? More time for your staff, better policy adherence, and the knowledge you need to spend more effectively.
          %div{class: "6u 12u$(medium) important(medium)"}
            %span.image.fit
              = image_tag "screenshots/Communicart_Screenshot_Combination.png", alt: "Screenshot on Laptop and Mobile Device"

    / Three
    %section#three.main.style2.special
      .container
        %div{class: "row 150%"}
          %div{class: "4u 12u$(medium)"}
            %span.image.fit
              = image_tag 'screenshots/reporting.png', alt: 'Screenshot: Reporting Dashboard'
            %p
              %strong Spending Insights
              &nbsp; make the most of your budget
          %div{class: "4u 12u$(medium)"}
            %span.image.fit
              = image_tag 'screenshots/intake.png', alt: 'Screenshot: Intake Screen'
            %p
              %strong Custom Intake
              &nbsp; capture the data you care about
          %div{class: "4u 12u$(medium)"}
            %span.image.fit
              = image_tag 'screenshots/Communicart_Screenshot_Approvals.png', alt: "Screenshot: Approval Listing"
            %p
              %strong Centralized Approval Flow
              &nbsp; securely manages all your records

    / Four
    %section#four.main.style1.special
      .container
        %div{class: "row 150%"}
          %div{class: "6u 12u$(medium)"}
            %p
              Join agencies like the
              %a{href: "http://www.capitalregionupdates.gov/go/doc/4063/1130963/About-the-National-Capital-Region-NCR-"} National Capital Region
              and
              %a{href: "https://18f.gsa.gov/"} 18F
              in reclaiming time from your inbox and simplifying your approvals.
            %ul.actions.uniform
              %li
                %a{href: "mailto:18F@gsa.gov", class: "button special"} Contact us to get started
          %div{class: "6u 12u$(medium)"}
            %p Developers, help us refine our product.
            %ul.actions.uniform
              %li
                %a{href: "https://github.com/18F/C2", class: "button special"} Fork us on GitHub

    / Footer
    %section#footer
      %ul.copyright
        %li
          Design:
          %a{href: "http://html5up.net"} HTML5 UP
