.card-for-activity
  .row
    .medium-12.column
      .card
        .card-head
          %h2
            Activity
        .content-content
          = form_for [@proposal, Comment.new] do |f|
            .row
              .medium-12.column
                = f.text_area :comment_text, rows: 5, placeholder: "Add a comment"
            .row
              .medium-12.column.text-right.request-history-wrapper
                %div
                  %label.attachment-container
                    %a{class: "button secondary round"}
                      %span.plus +
                      Attachment
                      = f.file_field :file, { style: "display: none" }
                  = submit_tag "Send", data: {"disable-if-empty" => "comment_comment_text"}, class: "button primary round no-margin-bottom"

            .row
              .medium-12.column
                %div
                  .row.column#comments
                    - index = 0
                    - history_style = ""
                    - history.events.reverse.each do |event|
                      - history_style = index > 4 ? "contracted" : "expanded"
                      - index_class = index == history.events.count - 1 ? "status-index-last" : "status-index-" + index.to_s
                      - classes = "status-" + history_style + " " + index_class
                      .medium-12.column.status-feed-wrapper.text-left.row.comment{ class: classes }
                        .medium-table-row.medium-12.status-feed-item.status-attachment-block.no-margin-bottom
                          .hide-for-small-only.medium-table-cell.medium-activity-icon-col.text-center.status-feed-timeline.background-color-column
                            .dot-circle
                          .medium-table-cell.medium-auto-column.status-feed-content
                            = render partial: event, locals: { event: event }
                      - index = index + 1


            .row
              .medium-12.column.status-feed-actions.status-contracted
                %div
                  %a.button.primary.status-toggle-all.status-arrow
                    ↓
                  %a.primary.status-toggle-all.status-text 
                    Show all
:javascript
  var $comments = $('#comments');

  $('form#new_comment').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      var value = $('form#new_comment textarea').val();
      $('form#new_comment textarea').val("");
      $.ajax({
          type: "POST",
          url: $(this).attr('action'), //sumbits it to the given url of the form
          data: valuesToSubmit,
          dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).done(function(json){
          console.log("success", json);
      }).fail(function(json){
        console.log("failed", valuesToSubmit);
      }).always(function(json){
        var comment = "<div class='column medium-12 row status-expanded status-feed-wrapper status-index-0 text-left'><div class='medium-table-row medium-12 status-feed-item status-attachment-block no-margin-bottom'><div class='hide-for-small-only medium-table-cell medium-activity-icon-col text-center status-feed-timeline background-color-column'><div class='dot-circle'></div></div><div class='medium-table-cell medium-auto-column status-feed-content'><div class='title-block'><span class='status-action'>Comment created by #{ @current_user.full_name }</span><span class='time-from'><span title='Apr 4, 2016 at  3:03pm'>less than a minute ago</span></span></div><div class='item-block'>" + value + "</div></div></div></div>";
        $comments.prepend(comment);
      });
      return false; // prevents normal behaviour
  });
