.row
  .medium-12.column
    %span.hint--bottom-left.hint--rounded.hint--bounce.hint--medium.fr{"aria-label" => "The timeline is a record of all activity associated with this request. Comments are considered activity and sent to all request participants."} ?
    .card
      .card-head
        %h2
          = t(".header")
      .content-content
        .row
          .medium-12.column
            %h3.hide-for-print
              %label{ for: "comment_text_content" }
                = t(".comment_form.headline")
            = text_area_tag "comment_text_content",
              nil,
              rows: 5,
              placeholder: "#{t('.comment_form.placeholder')}",
              name: "comment[comment_text]"
        .row
          .medium-12.column.text-right.request-history-wrapper
            = button_tag t(".button.send"), id: "add_a_comment", data: {"disable-if-empty" => "comment_text_content"}, class: "button primary round no-margin-bottom"

        %h3
          = t(".comment_form.subhead")
        = render partial: "proposals/details/comment_list", locals: {events: events}
%div.current_user.sr-only{:style=>"display:none;"}
  = current_user.full_name
