.card-for-activity
  .row
    .medium-12.column
      .card
        .card-head
          %h2
            Activity
        .content-content
          = form_for [@proposal, Comment.new] do |f|
            .row
              .medium-12.column
                = f.text_area :comment_text, rows: 5, placeholder: "Add a comment"
            .row
              .medium-12.column.text-right.request-history-wrapper
                %div
                  %label.attachment-container
                    %a{class: "button secondary round"}
                      %span.plus +
                      Attachment
                      = f.file_field :file, { style: "display: none" }
                  = submit_tag "Send", data: {"disable-if-empty" => "comment_comment_text"}, class: "button primary round no-margin-bottom"

            .row
              .medium-12.column
                %div
                  .row.column
                    - index = 0
                    - history_style = ""
                    - history.events.reverse.each do |event|
                      - history_style = index > 4 ? "contracted" : "expanded"
                      - index_class = index == history.events.count - 1 ? "status-index-last" : "status-index-" + index.to_s
                      - classes = "status-" + history_style + " " + index_class
                      .medium-12.column.status-feed-wrapper.text-left.row{ class: classes }
                        .medium-table-row.medium-12.status-feed-item.status-attachment-block.no-margin-bottom
                          .hide-for-small-only.medium-table-cell.medium-activity-icon-col.text-center.status-feed-timeline.background-color-column
                            .dot-circle
                          .medium-table-cell.medium-auto-column.status-feed-content
                            = render partial: event, locals: { event: event }
                      - index = index + 1


            .row
              .medium-12.column.status-feed-actions
                %div
                  %a.button.primary.status-toggle-all.status-arrow
                    ↓
                  %a.primary.status-toggle-all.status-text 
                    Show all
