.card-for-activity
  .row
    .medium-12.column
      .card
        .card-head
          %h2
            = t(".header")
        .content-content
          = form_for [@proposal, Comment.new], remote: true do |f|
            .row
              .medium-12.column
                %h3
                  = t(".comment_form.headline")
                .subhead
                  = t(".comment_form.subhead")
                = f.text_area :comment_text, rows: 5
            .row
              .medium-12.column.text-right.request-history-wrapper
                = submit_tag t(".button.send"), id: "add_a_comment", data: {"disable-if-empty" => "comment_comment_text"}, class: "button primary round no-margin-bottom"

            = render partial: "proposals/details/comment_list", locals: {events: events}
%div.current_user{:style=>"display:none;"}
  = current_user.full_name
