.card-for-approvals
  .row
    .medium-12.column
      .card
        .card-head.column
          %h2
            Approvals
        .content-content.column
          - index = 0
          - proposal.steps.each do |step|
            - if !step.user_id.nil?
              - index = index + 1
              .row.step-state.column.state-completed
                .medium-2.column.text-center
                  - if step.status == "completed"
                    = image_tag 'numbers/icon-completed-green.png'
                  - else
                    = image_tag 'numbers/icon-number-' + index.to_s + '-pending.png'
                .medium-10.column
                  %span.step-index.step-data
                    Step #{step.position - 1}
                  %span.approver.step-data
                    %span.approval-name                         
                      #{User.find(step.user_id).full_name},
                    %span.approver-role #{step_user_title(step)}
                  %span.approver-status.step-data
                    - if step.status != "actionable" && step.status == "pending"
                      = step.status + " " + step.completed_at.strftime("%m/%d/%Y %I:%M%p")
