%li.observer-list-item
  = user.full_name
  - if role_str.present?
    = "(#{role_str})"
  - if observation && policy(observation).can_destroy?
    %input{type: "button", class: "observer-remove-button remove-button", "aria-label": "Remove #{user.full_name}", data: {"delete-url": "#{proposal_observation_path(proposal, observation)}", "modal-type": "observer_confirm"}}
