.card-for-observers
  .row
    .medium-12.column
      .card
        .card-head.column
          %h2
            Observers
            = modify_client_button(proposal, "Add / Edit", "button secondary fr large")
        .content-content.column
          %ul
            - SubscriberList.new(proposal).triples.each do |user, role_str, observation|
              %li.observer-list-item
                = user.full_name
                = "(#{role_str})" if role_str
                - if observation && policy(observation).can_destroy?
                  = button_to "Remove", proposal_observation_path(proposal, observation), method: :delete, data: {confirm: "Are you sure?"}

          - if policy(Observation.new(proposal: proposal)).can_create?
            = form_for [proposal, Observation.new] do |f|
              = f.fields_for :user do |user_form|
                .row
                  .medium-12.column
                    = user_form.collection_select :id, proposal.eligible_observers, :id, :email_address, { include_blank: true }, class: "js-selectize"
                    = f.label :reason, "Reason for adding observer (optional): ", data: {"hide-until-select" => "observation_user_id"}
                    = text_field :observation, :reason, class: "form-field", data: {"hide-until-select" => "observation_user_id"}, placeholder: "Add an observer"
                .row
                  .column.text-right
                    = user_form.submit "Add an Observer", id: :add_subscriber, data: {"disable-if-empty" => "observation_user_id"}, class: "button primary round"
