.card-for-purchase-details
  .row
    .medium-12.column
      .card
        .card-head.column
          %h2
            Purchase Details
            = modify_client_button(@proposal, "<span>Modify</span>".html_safe, "button secondary edit-icon fr large")
        .content-content.column
          .row
            .medium-12.column
              %h3 Attachments to this proposal
          - @proposal.attachments.each do |attachment|
            .item-block.medium-table-row
              .medium-purchase-icon-col.text-right.medium-table-cell
                %a{href: proposal_attachment_path(@proposal, attachment)}
                  = image_tag "icon-attachment.svg"
              .medium-auto-column.notice-attachment-wrapper.medium-table-cell
                .row
                  .medium-12.column
                    %a{href: proposal_attachment_path(@proposal, attachment)}
                      <strong>#{attachment.file_file_name}</strong>
                .row
                  .medium-11.column
                    Uploaded by <strong>#{attachment.user.full_name}</strong> on <strong>#{date_with_tooltip(attachment.created_at, ago: true, recent_time_only: true)}</strong>
                  .medium-1.column.text-right
                    - if policy(attachment).can_destroy?
                      = button_to "Delete", proposal_attachment_path(@proposal, attachment), method: :delete, data: {confirm: "Are you sure?"}, class: "text-right"
        - if @proposal.attachments.empty?
          .content-content.column
            .row
              .medium-12.column
                .item-block
                  %p.empty-list-label No attachments have been added yet
