.card-for-request-details
  .row
    .medium-12.column
      .card{id: "data_instance-" + @client_data_instance.id.to_s}
        .card-head.column
          %h2
            Request Details
            - if @mode != "edit"
              = modify_client_button(@proposal, "<span>#{@mode == "edit" ? "View" : "Modify"}</span>".html_safe, "button secondary edit-icon fr large request-detail-edit-button")
        .content-content.column#view-request-details
          = @client_data_instance.to_json
          = simple_form_for @client_data_instance, html: { multipart: true } do |f|
            .row
              .medium-12.column
                .detail-edit
                  = f.input :description 
                .detail-display
                  %p.request-detail.detail-value{id: 'description-' + @client_data_instance.id.to_s }
                    = @client_data_instance.description
              
            
                      
            - proposal.fields_for_input.each do |fields|
              .row
                .medium-12.column
                  - field = fields
                  - if field
                    .detail-wrapper
                      .detail-display
                        %label.detail-element
                          = field[:value][0]
                        %span.detail-value{id: field[:key] + '-' + @client_data_instance.id.to_s }
                          = request_details_form_value field[:value][1]
                      .detail-edit
                        %label.detail-element
                          = field[:value][0]
                        %p.proposal-data-attribute
                          = request_details_form_field field[:key], f


            .row.column.line-item-block
              .medium-12.callout.primary.column.medium-centered
                .row
                  .medium-6.column
                    .detail-wrapper
                      .detail-edit
                        = f.input :vendor,
                          input_html: { class: "js-selectize required", data: { initial: JSON.generate(vendor_options(@client_data_instance.vendor)) }}
                      .detail-display
                        %label.detail-element Vendor
                        %span.detail-value{id: 'vendor-' + @client_data_instance.id.to_s }
                          = @client_data_instance.vendor || "-"
                    .detail-wrapper
                      .detail-edit
                        = f.input :building_number,
                          input_html: { class: "js-selectize required", data: { initial: JSON.generate(building_options) }}
                      .detail-display
                        %label.detail-element Building number
                        %span.detail-value{id: 'building_number-' + @client_data_instance.id.to_s }
                          = @client_data_instance.building_number
                  .medium-6.column
                    .detail-wrapper
                      .detail-edit
                        = f.input :cl_number
                      .detail-display
                        %label.detail-element CL number
                        %span.detail-value{id: 'cl_number-' + @client_data_instance.id.to_s }
                          = @client_data_instance.cl_number || "-"
                    .primary.callout.detail-wrapper.no-margin-bottom.no-padding-bottom
                      .detail-edit
                        = f.input :amount, as: :currency, input_html: { value: sprintf("%.2f", @client_data_instance.amount) }
                      .detail-display
                        .row
                          .medium-4.column
                            %strong Total
                          .medium-8.column
                            %span
                              %h4
                                %b.detail-value{id: 'amount-' + @client_data_instance.id.to_s }
                                  = sprintf("%.2f", @client_data_instance.amount)
          
