.row.summary-status-wrapper
  .medium-12.column.text-left
    %span.status-wrap.medium-12.small-12{ class: "status-is-" + proposal.status }
      Request Status
      %span.status-value
        = proposal.capitalized_detailed_status
    - if proposal.status == "completed"
      %span.completed-time
        on
      - if @client_data_instance.has_attribute?("emergency") && @client_data_instance.emergency == true
        = proposal.updated_at.to_s(:pretty_datetime)
      - else
        = proposal.completed_at_date

.card.summary-card#summary-card
  .card-head.column
    .row
      .medium-12.column
        %h3
          = proposal.public_id
        = render partial: @proposal.client_slug + '/fields/title', locals: { f: @form }
        .c2n_description
          %p
            Requested by
            %strong.requested-by-name
              = proposal.requester.full_name
            on
            %strong
              %span.c2n_submitted
                = proposal.created_at.to_s(:pretty_datetime)
        - if policy(@proposal).can_cancel?
          %div.fr.cancel-action
            = link_to "Cancel request", cancel_form_proposal_path, class: " secondary large cancel-request-button", data: { "modal-type": "cancel" }
