
.card
  .card-head.column
    %h3
      = proposal.public_id
    %h1.c2n_header
      = proposal.name
    .c2n_description


      %p
        %span.status-wrap{ class: "status-is-" + @proposal.status }
          Status:
          %span.status-value 
            = @proposal.status.capitalize
        Requested by:
        %strong
          = proposal.requester.full_name
        Requested on:
        %strong
          %span 
            = proposal.created_at.strftime("%b %d, %Y at %l:%M%P")   
