.row.summary-status-wrapper
  .medium-12.column.text-left
    %span.status-wrap.medium-12.small-12{ class: "status-is-" + proposal.status }
      Request Status 
      %span.status-value
        = proposal.capitalized_detailed_status
    - if proposal.status == "completed"
      %span.completed-time
        on 
        = proposal.steps.order('position ASC').last.completed_at.strftime("%b %d, %Y at %l:%M%P")

.row.button-back-wrapper
  .medium-12.column.text-left
    = link_to proposals_path, class: "button secondary" do
      %span.arrow-el
        ← 
      Back to List

.card.summary-card
  .card-head.column
    .row
      .medium-12.column
        %h3
          = proposal.public_id
        %h1.c2n_header
          = proposal.name
        .c2n_description
          %p
            Requested by:
            %strong.requested-by-name
              = proposal.requester.full_name
            Requested on:
            %strong
              %span
                = proposal.created_at.strftime("%b %d, %Y at %l:%M%P")

