.row.summary-status-wrapper
  .medium-12.column.text-left
    %span.status-wrap.medium-12.small-12{ class: "status-is-" + proposal.status }
      Request Status 
      %span.status-value
        = proposal.capitalized_detailed_status
    - if proposal.status == "completed"
      %span.completed-time
        on
      - if @client_data_instance.emergency == true
        = proposal.updated_at.strftime("%b %d, %Y at %l:%M%P")
      - elsif @client_data_instance.emergency != true
        = proposal.individual_steps.last.completed_at.strftime("%b %d, %Y at %l:%M%P")

.row.button-back-wrapper
  .medium-12.column.text-left
    = link_to proposals_path, class: "button secondary" do
      %span.arrow-el
        ← 
      Back to Requests

.card.summary-card#summary-card
  .card-head.column
    .row
      .medium-12.column
        %h3
          = proposal.public_id
        %h1.c2n_header.view-title
          %span.header-content
            %span.display-content
              = proposal.name
            %span.display-edit
              %input{ type: "text", value: proposal.name }/
          %button#header-edit-text.header-edit-text
            %span.edit-button
              Edit title
            %span.edit-icon
        .c2n_description
          %p
            Requested by:
            %strong.requested-by-name
              = proposal.requester.full_name
            Requested on:
            %strong
              %span
                = proposal.created_at.strftime("%b %d, %Y at %l:%M%P")
        - if policy(@proposal).can_cancel?
          %div.fr.cancel-action
            = link_to "Cancel this request", cancel_form_proposal_path, class: " secondary large cancel-request-button", data: { "modal-type": "cancel" }

