.row.summary-status-wrapper
  .medium-12.column.text-left
    %span.status-wrap.medium-12.small-12{ class: "status-is-" + proposal.status }
      Request Status
      %span.status-value
        = proposal.capitalized_detailed_status
    - if proposal.status == "completed"
      %span.completed-time
        on
      - if @client_data_instance.emergency == true
        = proposal.updated_at.to_s(:pretty_datetime)
      - elsif @client_data_instance.emergency != true
        = proposal.individual_steps.last.completed_at.to_s(:pretty_datetime)

.row.button-back-wrapper
  .medium-12.column.text-left
    = link_to proposals_path, class: "button secondary" do
      %span.arrow-el
        ←
      Back to Requests

.card.summary-card#summary-card
  .card-head.column
    .row
      .medium-12.column
        %h3
          = proposal.public_id
        = render @current_user.client_slug + '/fields/title'
        .c2n_description
          %p
            Requested by:
            %strong.requested-by-name
              = proposal.requester.full_name
            Requested on:
            %strong
              %span
                = proposal.created_at.to_s(:pretty_datetime)
        - if policy(@proposal).can_cancel?
          %div.fr.cancel-action
            = link_to "Cancel this request", cancel_form_proposal_path, class: " secondary large cancel-request-button", data: { "modal-type": "cancel" }
