- if @current_user.can_see_beta?
  - if @current_user.should_see_beta?
    .top-notification-wrapper
      %p
        = t("proposals.details.notification.beta.old", link: proposals_toggle_active_beta_path ).html_safe
  - else
    .top-notification-wrapper
      %p
        - if cookies[:beta_reverted_survey] == "true"
          - cookies.delete :beta_reverted_survey
          = javascript_include_tag "details/force_ethnio"
          = javascript_include_tag "https://www.ethn.io/55009.js", async: true
          
          = t("proposals.details.notification.beta.reverted", link: proposals_toggle_active_beta_path ).html_safe
        - else
          = t("proposals.details.notification.beta.new", link: proposals_toggle_active_beta_path ).html_safe
