- if @current_user.in_beta_program?
  - if @current_user.active_beta_user?
    .top-notification-wrapper
      %p
        = t("proposals.details.notification.beta.old")
        = link_to "click here", user_path(current_user, user: {update_beta_active: true}), method: :patch
  - else
    .top-notification-wrapper
      %p
        - if cookies[:beta_reverted_survey].nil?
          - cookies[:beta_reverted_survey] = "true"
          = javascript_include_tag "details/force_ethnio"
          = javascript_include_tag "https://www.ethn.io/55009.js", async: true
          = t("proposals.details.notification.beta.reverted").html_safe
        - elsif cookies[:beta_reverted_survey] == "true"
          = t("proposals.details.notification.beta.reverted").html_safe
        - else
          = t("proposals.details.notification.beta.new")
        = link_to "click here", user_path(current_user, user: {update_beta_active: true}), method: :patch
