- if @current_user.in_beta_program?
  - if @current_user.should_see_beta?
    .top-notification-wrapper
      %p
        = t("proposals.details.notification.beta.old", link: revert_design_proposal_path(proposal) ).html_safe
  - else
    .top-notification-wrapper
      %p
        - if cookies[:beta_reverted_survey] == "true"
          - cookies.delete :beta_reverted_survey
          = javascript_include_tag "details/force_ethnio"
          = javascript_include_tag "https://www.ethn.io/55009.js", async: true
          
          = t("proposals.details.notification.beta.reverted", link: activate_design_proposal_path(proposal) ).html_safe
        - else
          = t("proposals.details.notification.beta.new", link: activate_design_proposal_path(proposal) ).html_safe
