- if display_search_ui?
  = render partial: 'shared/search_ui'

.inset
  %h1
    Reports
    %i.fa.fa-bar-chart

  = render partial: "shared/reports_list"

  %hr
  %p
    Summary of requests which you have participated in, grouped by month of creation.
  %table.dashboard.table.table-striped.table-bordered
    %thead
      %th Time Period
      %th Number of Requests
      %th Total Cost
    %tbody
      - @rows.each do |row|
        %tr
          %td
            %a{href: row[:path]}
              = row[:month]
              = row[:year]
          %td
            = row[:count]
          %td
            = number_to_currency(row[:cost])
