.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: "amount" + "-wrapper" }
    .detail-display.column
      .row
        .medium-3.column
          %label.detail-element
            = t(t_slug + "total")
        .medium-9.column
          %span.detail-value{class: "not_to_exceed", id: "not_to_exceed" + '-' + client_id }
            - if client_data[:not_to_exceed]
              Not to exceed
            - else
              Exactly
          %span.detail-value{class: "amount", id: "amount" + '-' + client_id }
            = sprintf("%.2f",client_data[:amount])
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "amount")
      %span.detail-value
        = f.input :not_to_exceed,
          collection: [["Exact", false], ["Not to exceed", true]],
          label: false,
          include_blank: false

        = f.input :amount,
          as: :currency,
          label_html: { class: "sr-only" },
          input_html: { data: popover_data_attrs("ncr_amount"), value: sprintf("%.2f", @client_data_instance.amount) }
