- t_slug = "decorators." + @current_user.client_slug + "/work_order."
- client_slug = @current_user.client_slug
- client_data = @client_data_instance
- client_id = client_data.id.to_s
- value_id = key + '-' + client_id
.column{ id: key + '-wrapper-1'}
  .detail-wrapper.row{ class: key + "-wrapper"}
    .detail-display.column
      %label.detail-element
        = t(t_slug + "expense_type") 
      %span.detail-value{id: value_id }
        = client_data[:expense_type]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value
        = field_set_tag do
          = expense_type_radio_button(f, "BA60")
          = expense_type_radio_button(f, "BA61")
          = expense_type_radio_button(f, "BA80")
.column{ id: key + '-wrapper-2'}
  .detail-wrapper.row{ class: key + "-wrapper"}
    .detail-display.column
      %label.detail-element
        = t(t_slug + "emergency") 
      %span.detail-value{id: value_id }
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "emergency") 
      %span.detail-value
        = render partial: client_slug + "/fields/" + "emergency", locals: { f: f, proposal: @proposal, client_data: client_data }
.column{ id: key + '-wrapper-3'}
  .detail-wrapper.row{ class: key + "-wrapper"}
    .detail-display.column
      %label.detail-element
        = t(t_slug + "rwa_number") 
      %span.detail-value{id: value_id }
        = client_data[:rwa_number]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "rwa_number")
      %span.detail-value
        = render partial: client_slug + "/fields/" + "rwa_number", locals: { f: f, proposal: @proposal, client_data: client_data }
.column{ id: key + '-wrapper-4'}
  .detail-wrapper.row{ class: key + "-wrapper"}
    .detail-display.column
      %label.detail-element
        = t(t_slug + "work_order_code") 
      %span.detail-value{id: value_id }
        = client_data[:work_order_code]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + "work_order_code") 
      %span.detail-value
        = render partial: client_slug + "/fields/" + "work_order_code", locals: { f: f, proposal: @proposal, client_data: client_data }
