.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value
        = client_data[key]
    .detail-edit.column
      %label.detail-element{ for: "ncr_work_order_function_code" }
        = t(t_slug + key) 
      %span.detail-value
        = f.input :function_code, label: false, 
        input_html: { "data-reapproval" => "#{reapproval}" }
