<div class="inset">
<div class="row">

  <div class="col-md-8 col-xs-12">
    <h1 class="communicart_header">
        <%= title %>
    </h1>

    <div class="communicart_description">
      <p>
        Requested by:
        <strong><%= cart.requester.full_name %></strong>
      </p>
      <p>
        GSA Advantage:
        <strong>Cart #<%= cart.external_id %></strong>
      </p>
    </div>
  </div>

    <%= render partial: "carts/approval_status"  %>

</div>
<div class="row">
  <div class="col-md-12">
    <table class="cart-table">
      <tr class='header'>
        <th class="first" scope="col">
          <h5>Product</h5>
        </th>
        <th class="next" scope="col">
          <h5>Price</h5>
        </th>
        <th class="next" scope="col">
          <h5>Vendor</h5>
        </th>
      </tr><%#-- BEGIN CartItem Entry --%>

      <%- cart.cart_items.each do |cart_item| %>

        <tr class="cart_item_information">
          <%#-- Product --%>
          <td class="first" valign="top">
            <p class="cart_item_description"><strong><a href="<%= cart_item.url %>"><%= cart_item.description %></a></strong></p>
            <p><%= cart_item.details %></p>

            <span class="result-tag">
              <%- if cart_item.green? %>
                <span class="c2bullet green">•</span>&nbsp;<span class='bullet-label'>Green</span>
              <%- end %>

              <%- cart_item.features.each do |feature| %>
                <span class="c2bullet <%= feature %>">•</span>&nbsp;<span class='bullet-label'><%= feature %></span>
              <%- end %>
            </span>

          </td>

          <%#-- Price --%>
          <td valign="top">
            <p class="result-item-price"><strong><%= cart_item.subtotal %></strong></p>
            <p class="result-item-units"><%= cart_item.formatted_price %> x <%= cart_item.quantity %> units</p>
          </td>

          <%#-- Vendor --%>
          <td valign="top">
            <p class="vendor-information">
              <%- if cart_item.getProp('shoppingVenue') %>
                <%= cart_item.getProp('shoppingVenue') %> <br />
              <%- end %>
              <span class="info-title">
                <strong><%= cart_item.vendor %></strong>
              </span>
              <%= cart_item.part_number %><br />

              <span class="result-tag">
                <%- unless cart_item.socio.empty? %>
                  <span class="c2bullet">•</span>&nbsp;<span class='bullet-label'><strong>SOCIO:</strong></span>
                  <span class= "tag-values">
                    <%- cart_item.socio.each_with_index do |socio_tag, index| %>
                      <%= socio_tag %><%= ", " unless cart_item.socio.count == index+1 %>
                    <%- end %>
                  </span>
                <%- end %>
              </span>
            </p>
          </td>
        </tr>

        <%- if ENV['flag_comment_cart_item_ui'] == 'true' %>
          <%- if @show_comments %>
            <tr>
              <td>
                <strong>
                  Comments:
                </strong>
                <% unless cart_item.comments.empty? %>
                  <% cart_item.comments.each do |c| %>
                    <br/>
                    <% unless c.user.nil? %>
                      <em>
                        <%= "#{c.user_full_name}: " %>
                      </em>
                    <% end %>
                    <%= c.comment_text %>
                  <% end %>
                <% else %>
                  <br>
                  No comments have been added yet
                  </br>
                <% end %>
                <p>
                  <%= form_for [cart_item, Comment.new] do |f| %>
                    <%= f.text_area :comment_text, rows: 5, cols: 55 %>
                    <p>
                      <%= submit_tag "Add a comment", id: :add_a_comment %>
                    </p>
                    <br/>
                  <% end %>
                </p>
              </td>
            </tr>
          <%- end %>
        <%- end %>
      <%- end %>
      <tr>
        <td class='cart-total' colspan='3'>
          <span class="total-label">Total:</span> <strong>$<%= cart.total_price %></strong>
        </td>
      </tr>

    </table>
  </div>
</div></div>

  <div class="approval-status-container">
    <div id="approval-status">
      <h3>Request approved by</h3>
      <ul>
        <li class='icon-approved'>
          <%= link_to 'approver1.lastname@gsa.gov', '/some/path' %>
          <span class='timestamp'>on September 30th, 2014 at 4:16pm</span>
        </li>
        <li class='icon-approved'>
          <%= link_to 'approver2.lastname@gsa.gov', '/some/path' %>
          <span class='timestamp'>on September 31st, 2014 at 3:16pm</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="cart-comments-container">
    <div id="cart-comments">
      <h3>Comments on this purchase request</h3>
      <%- if @show_comments %>
        <%= form_for [cart, Comment.new] do |f| %>
          <%= f.text_area :comment_text, rows: 5 %>

          <div class='row text-area-info-container'>
            <div class='col-xs-7 col-sm-6 text-area-info-web'>
              <p>
                These comments will be sent to your requester through email
              </p>
            </div>
            <p class='col-xs-5 col-sm-6 text-area-button'>
              <%= submit_tag "Send note", id: :add_a_comment %>
            </p>
          </div>
        <%- end %>

        <% unless cart.comments.empty? %>
          <% cart.comments.each do |c| %>
            <div class='comment-item'>
              <div class='row'>
                <p class='comment-sender col-sm-6 col-xs-12'>
                  <strong>requester@test.com</strong>
                </p>
                <p class='comment-date col-sm-6 col-xs-12'>
                  <%= c.created_at.strftime("%b %e, %l:%M %p") %>
                </p>
              </div>

              <div class='row'>
                <p class='comment-text col-sm-6 col-xs-12'>
                  <% unless c.user.nil? %>
                    <em>
                      <%= "#{c.user_full_name}: " %>
                    </em>
                  <% end %>
                  <%= c.comment_text %>
                </p>
              </div>
            </div>
          <% end %>
        <% else %>
          <br>
          No comments have been added yet
        <% end %>
      <%- end %>
    </div>
  </div>

