<%#-- "carts" is the critical local variable for using this partial --%>
<%#-- "role" (either 'requester' or 'approver') modifies the list slightly --%>
<%#-- "closed" (bool) determines whether we're showing closed carts or not. --%>
<%#-- "limit" is the maximum number of carts to show. --%>
<table class="cart-list">
  <tr class="header">
    <th class="sixth" scope="col"><h5>ID</h5></th>
    <th class="first" scope="col"><h5>Request</h5></th>
    <th class="sixth" scope="col"><h5>Total Price</h5></th>
    <th class="sixth" scope="col"><h5>Status</h5></th>
    <th class="sixth" scope="col"><h5>Submitted</h5></th>
  </tr>
  <%- if defined? limit %>
    <%- cart_list = carts.limit(limit) %>
  <%- else %>
    <%-cart_list = carts %>
  <%- end %>
  <%- cart_list.each do |cart| %>
    <%- proposal = cart.proposal %>
    <tr>
      <td class="sixth"><a href="/carts/<%= cart.id %>"><%= cart.id %></a></td>
      <td class="first"><a href="/carts/<%= cart.id %>"><%= cart.proposal.name %></a></td>
      <td class="sixth"><%= number_to_currency(proposal.total_price) %></td>
      <td class="sixth">
        <p><%= display_status(cart, current_user) %></p>
      </td>
      <td class="sixth"><%= date_with_tooltip(cart.created_at) %></td>
    </tr>
  <%- end %>
</table>
