<%#-- "carts" is the critical local variable for using this partial --%>
<%#-- "role" (either 'requester' or 'approver') modifies the list slightly --%>
<%#-- "closed" (bool) determines whether we're showing closed carts or not. --%>
<%#-- "limit" is the maximum number of carts to show. --%>
<table class="cart-list">
  <tr class="header">
    <th class="first" scope="col"><h5>Request</h5></th>
    <th class="sixth" scope="col"><h5>Total Price</h5></th>
    <th class="sixth" scope="col"><h5><%= if role=='requester' then 'To' else 'From' end%> </h5></th>
    <th class="sixth" scope="col"><h5>Date</h5></th>
  </tr>
  <%- if defined? limit %>
    <%- cart_list = carts.limit(limit) %>
  <%- else %>
    <%-cart_list = carts %> 
  <%- end %>
  <%- cart_list.each do |cart| %>
    <tr>
      <td class="first"><a href="/carts/<%= cart.id %>"><%= cart.name %></a></td>
      <td class="sixth"><%= number_to_currency(cart.decorate.total_price) %></td>
      <td class="sixth">
        <%- show_appropriate_approval_emails(cart, role, closed).each do |email| %>
            <p><%= email %></p>
          <%- end %>
      </td>
      <td class="sixth"><%= cart.created_at.strftime("%-m/%-d/%y") %></td>
    </tr>
  <%- end %>
</table>
