.title-block
  %span.status-action #{event.item_type} #{event.event_type}d
  - if event.user
    by #{event.user.full_name}
  %span.time-from
    = date_with_tooltip(event.created_at, true)
.item-block.attachment
  %a{href: proposal_attachment_path(@proposal, event.item)}
    = image_tag "icon-attachment.svg"
    = event.item.file_file_name
