.title-block
  %span.status-action #{event.item_type} #{event.event_type}d by #{event.user.full_name}
  %span.time-from
    = date_with_tooltip(event.created_at, true, { truncate: true })
.item-block
  = event.item.comment_text
