<%#-- "cart" is the critical local variable for using this partial --%>
<%#-- "title" is used to customize the tile in the h1 below --%>
<%- proposal = cart.proposal %>
<div class="row">
  <table class="w-container main-container xs-col-12" border='0' width='100%'>
    <tr>
      <td>
        <h1 class="communicart_header">
          <%= title %>
        </h1>

        <div class="communicart_description">
          <p>
            Requested by:
            <strong><%= cart.requester.full_name %></strong>
          </p>
          <p>
            GSA Advantage:
            GSA Advantage:
            <strong>[Some description] - Cart #<%= cart.external_id %></strong>
          </p>
        </div>
      </td>
      <td class="communicart_description">
        <img src="<%= image_url('img_logo_communicart.gif') %>" width="229" height="43" alt="Communicart logo" />
      </td>
    </tr>

    <%= render partial: "shared/email_status" %>
    <tr>
      <td class="w-container results-list" colspan="2">
        <table width="100%">
          <tr class='header'>
            <td class="first" width="50%" scope="col">
              <h5>Product</h5>
            </td>
            <td width="25%" scope="col">
              <h5>Price</h5>
            </td>

            <td width="25%" scope="col">
              <h5>Vendor</h5>
            </td>

          </tr>
          <tr>
            <td class='cart-total' colspan='3'>
              <span class="total-label">Total: <strong><%= number_to_currency(proposal.client_data_legacy.total_price) %></strong></span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
