<tr class="email-status">
  <td colspan="2" padding="10">
    <table id="status-container-detail" width="770">
      <tr class="status-header-container">
        <td>
          <strong>Approval Status</strong>
        </td>
        <td>
          <%= status_icon_tag(@cart.status) %>
          <strong><%= @cart.status %></strong>
          (<%= @cart.number_approved %> of <%= @cart.total_approvers %> approved)
        </td>
      </tr>
      <tr class="status-header-container-detail">
        <td colspan="2">
          <table>
            <%- last_status = nil %>
            <%- @cart.approvals_in_list_order.each_with_index do |approval,index| %>
              <tr class="approval-row">
                <td>
                  <%- if approval.status != last_status %>
                    <strong><%= approval.status %></strong>
                  <%- end %>
                </td>
                <td
                  <%= order_class(index, @cart.approvals_in_list_order.count) %>
                >
                  <%= status_icon_tag(approval.status) %>
                  <%= approval.user.full_name %>
                  <%= mail_to approval.user.email_address %>
                </td>
              </tr>
              <%- last_status = approval.status %>
            <%- end %>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
