<tr class="email-status">
  <td colspan="2" padding="10">
    <table id="status-container-detail" width="770">

      <tr class="status-header-container">
        <td>
          <strong>Approval Status</strong>
        </td>
        <td>
          <strong><%= @cart.status %></strong> (<%= @cart.number_approved %> of <%= @cart.total_approvers %> approved)
        </td>
      </tr>

      <tr class="status-header-container-detail">
        <td class="first">
          <p>
            <strong>Pending</strong>
            <ul class='status-detail'>
              <%- if @cart.awaiting_approvals.any? %>
                <%- @cart.awaiting_approvals.each do |approval| %>
                  <li class="icon-pending status-label-pending">
                    <a href='#'><%= approval.user.email_address %></a>
                  </li>
                <%- end %>
              <%- else %>
                <li>
                  You are not waiting for anyone to approve your request
                </li>
              <%- end %>
            </ul>
          </p>
        </td>

        <td>
          <p>
            <strong>Approved</strong>
            <ul class='status-detail'>
              <%- if @cart.approved_approvals.any? %>
                <%- @cart.approved_approvals.each do |approval| %>
                  <li class="icon-approved status-label-approved">
                    <a href='#'><%= approval.user.email_address %></a>
                  </li>
                <%- end %>
              <%- else %>
                <p>
                  You currently have no approvals
                </p>
              <%- end %>
            </ul>
          </p>
        </td>
      </tr>

    </table>
  </td>
</tr>
