<div id="ncr-layout">
 <table class="w-container main-container" width='800'>
    <tr>
      <td>
        <h1 class="communicart_header">National Capital Region: <%= title %></h1>

        <div class="communicart_description">
          <p>
            Requested by:
            <strong><%= cart.requester.full_name %></strong>
          </p>
        </div>
      </td>
    </tr>

    <%= render partial: "shared/email_status" %>

    <tr>
      <td>
        <table width="100%" class="data_container">
          <tr class='header'>
            <td class="first" width="33%" scope="col" colspan="2">
              <h5>FY15 Credit Card Purchase Request</h5>
            </td>
          </tr>
          </tr>
          <%- cart.deserialized_properties.each do |property,value| %>
            <%- unless cart.property_exclusions.include? property %>
              <tr class="cart_item_information">
                <td class="w-container results-list" align="left" width="33%">
                  <strong><%= property.underscore.humanize %></strong>
                </td>
                <td with="66%">
                  <%= value %>
                </td>
              </tr>
            <%- end %>
          <%- end %>
        </table>


      </td>
    </tr>


  </table>

</div>


