<div id="ncr-layout">
  <table class="w-container main-container" width='800'>
    <tr>
      <td>
        <h1 class="communicart_header"><%= title %>: <%= cart.name %></h1>
        <div class="communicart_description">
          <p>
            Requested by:
            <strong><%= cart.requester.full_name %></strong>
          </p>
        </div>
      </td>
    </tr>

    <%= render partial: "shared/email_status" %>

    <tr>
      <td>
        <%= render partial: 'shared/proposal_properties',
                   locals: {proposal: cart.proposal} %>
      </td>
    </tr>
  </table>
</div>
