<div id="whsc-layout">
 <table class="w-container main-container" width='800'>
    <tr>
      <td>
        <h1 class="communicart_header">White House Service Center: <%= title %></h1>

        <div class="communicart_description">
          <p>
            Requested by:
            <strong><%= cart.requester.full_name %></strong>
          </p>
        </div>
      </td>
    </tr>

    <%= render partial: "email_status" %>

    <tr>
      <td>
        <table width="100%" class="data_container">
          <tr class='header'>
            <td class="first" width="33%" scope="col" colspan="2">
              <h5>FY15 Credit Card Purchase Request</h5>
            </td>
          </tr>
          </tr>
              <%- cart.properties.where.not(property: cart.property_exclusions).each do |cart_property| %>
                <tr class="cart_item_information">
                  <td class="w-container results-list" align="left" width="33%">
                    <strong><%= (cart_property.property.capitalize).split(/(?=[A-Z])/).join(" ") %></strong>
                  </td>
                  <td with="66%">
                    <%= cart_property.value %>
                  </td>
                </tr>
              <%- end %>
        </table>


      </td>
    </tr>


  </table>

</div>


