<body class="communicart-notification">
  <table class="w-container main-container" width='800'>

    <tr>
      <td class="w-container html-email-message">
        <p>
          Hello,<br/>
          The approver, <%= @approval.user.email_address %>, <%= @approval.status %>  Cart #<%= @cart.external_id %>.<br/>
          Please see below for more details.
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: @cart.cart_template_name, locals: {cart: @cart, title:  "Purchase Request"} %>

        <%= render partial: 'shared/reply_section', locals: { cart: @cart} %>
      </td>
    </tr>
</table>

</body>
