<body class="communicart-notification">
  <table class="w-container main-container" width='940'>

    <tr>
      <td class="w-container html-email-message">
        Hello,<br/>
        The approver, <%= @approval_reply["fromAddress"] %>, <%= @approval %>  Cart #<%= @approval_reply["cartNumber"] %>. <%= @approval_reply["approve"] == "APPROVE" ?
          "This activity has been logged for future reference. " :
          "You may wish to contact the approver for more explanation."
         %> Please see below for more details on the status of this cart.
         <p>
          <%- @cart.approval_group.approvers.each do | approver | %>
            <%= approver.email_address %>
            (<%= approver.status %>)<br/>
          <%- end %>
         </p>
         Thank you!
      </td
>
    </tr>


    <tr>
      <td class="w-container status-header-container <%= 'status-completed' if @cart.all_approvals_received? %>">
        <p class="results-header">Approval Status: <%=  @report.generate_status_message %></p>
      </td>
    </tr>

    <tr>
      <td>
        <h1 class="communicart_header">Purchase Requisition</h1>
          <h4 class="communicart_description"><%= @cart.name %></h4>
      </td>
    </tr>

      <tr>
        <td class="w-container results-header-container">
          <h3 class="cart-header">GSA Advantage: Cart #<%= @cart.external_id %></h3>
        </td>
      </tr>

      <tr>
        <td class="w-container results-list">

          <table width=100%>
            <tr class='header'>
              <td class="first" width="30%">
                <h5>Name</h5>
              </td>
              <td width="17.5%">
                <h5>Description</h5>
              </td>
              <td width="17.5%">
                <h5>Details</h5>
              </td>
              <td width="17.5%">
                <h5>Tags</h5>
              </td>
              <td class="last" width="17.5%">
                <h5>Price</h5>
              </td>
            </tr>

            <!--BEGIN CartItem Entry-->
              <%- @cart.cart_items.each do |cart_item| %>

                <tr class="cart_item_information">
                  <td class="first" valign="top">
                    <p><strong><%= cart_item.description %></strong>
                    </p>
                  </td>

                  <td valign="top">
                    <p><%= cart_item.details %></p>
                  </td>

                  <td valign="top">
                    <p><strong><%= cart_item.vendor %></strong>
                      <br><em><%= cart_item.part_number %></em>
                      <br><a href="https://gsaadvantage.gov<%= cart_item.url %>">Link to the product</a>
                    </p>
                  </td>

                  <td valign="top">
                    <ul class="result-tag">
                      <%-# TODO: green saving/retrieving %>
                      <%-# TODO: socio saving/retrieving %>
                      <%-# TODO: features saving/retrieving %>
                    </ul>
                  </td>

                  <td class="last" valign="top">
                    <p class="result-item-price"><%= cart_item.price %></p>
                    <p class="result-item-units"><%= cart_item.quantity %> units</p>
                  </td>
                </tr>
              <%- end %>

            <!--END CartItem Entry-->

                <tr class="total-price">
                  <td colspan=2></td>
                  <td class="total-price" colspan=2>
                    <p><strong>Total Price</strong></p>
                  </td>
                  <td class="total-price total-amount"><p><strong>$<%= number_with_precision(@cart.total_price, precision: 2) %></strong></p></td>
                </tr>

          </table>

        </td>
      </tr>


  </table>

</body>
