%table.reply-section
  - if @alert_partial
    = client_partial(@proposal.client_slug, "email_header/" + @alert_partial.to_s)
  - else
    %tr
      %td.w-container.html-email-message
        %p
          Hello,
          %br
          The approver, #{@step.user_email_address}, #{@step.status} request #{@proposal.public_id}.
          %br
          Please see below for more details.
  %tr
    %td
      = render partial: "comments", locals: { comments: @proposal.comments }
      = render partial: "attachments", locals: { proposal: @proposal }
      = client_partial(@proposal.client_slug,
        "proposal_mail",
        locals: { proposal: @proposal, title: "Purchase Request" })
      = render( partial: "email_reply",
        locals: { step: @step, show_approval_actions: false, proposal: @proposal })
