<body class="communicart-notification">
  <table class="w-container main-container" width='940'>

    <tr>
      <td class="w-container html-email-message">
        <p>
          Hello,<br/>
          The approver, <%= @approval_reply["fromAddress"] %>, <%= @approval %>  Cart #<%= @approval_reply["cartNumber"] %>.<br/>
          Please see below for more details.
        </p>
          <%- @cart.approvals.where(role: 'approver').each do | approval | %>
           <p class="approver_status <%= approval.status %>">
              <span class="icon-<%= approval.status %>"></span><span class="status-label-<%= approval.status %>"><%= approval.status %>:</span> <%= approval.user.email_address %>
           </p>
          <%- end %>
      </td>
    </tr>


    <tr>
      <td class="w-container status-header-container <%= 'status-completed' if @cart.all_approvals_received? %>">
        <p class="results-header">Approval Status: <%=  @cart.generate_status_message %></p>
      </td>
    </tr>

    <tr>
      <td>
        <h1 class="communicart_header">Purchase Request</h1>
          <h4 class="communicart_description">Requested by: <%= @cart.requester.full_name %></h4>
      </td>
    </tr>

      <tr>
        <td class="w-container results-header-container">
          <h3 class="cart-header">GSA Advantage: Cart #<%= @cart.external_id %></h3>
        </td>
      </tr>

      <tr>
        <td class="w-container results-list">
          <!--<%= render partial: "shared/hello" %>-->
          <%= render partial: "shared/cart", locals: {cart: @cart} %>
        </td>
      </tr>


  </table>

</body>
