<body class="communicart-notification">
  <table class="w-container main-container" width='800'>

    <tr>
      <td class="w-container html-email-message">
        <p>
          Hello,<br/>
          The approver, <%= @approval_reply["fromAddress"] %>, <%= @approval %>  Cart #<%= @approval_reply["cartNumber"] %>.<br/>
          Please see below for more details.
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: @cart_template, locals: {cart: @cart, title:  "Purchase Request"} %>

        <%= render partial: 'shared/reply_section', locals: { cart: @cart} %>
      </td>
    </tr>
</table>

</body>
