<body class="communicart-notification">
  <table class='reply-section'>
    <tr>
      <td class="w-container html-email-message">
        <p>
          Hello,<br/>
          The approver, <%= @approval.user_email_address %>, <%= @approval.status %>  Cart #<%= @cart.proposal.public_identifier %>.<br/>
          Please see below for more details.
        </p>

      </td>
    </tr>

    <tr>
      <td>
        <%= render partial: 'comments', locals: { comments: @cart.comments } %>

        <%= render partial: @cart.cart_template_name, locals: {cart: @cart, title:  "Purchase Request"} %>

        <%= render partial: 'email_reply', locals: { cart: @cart, show_approval_actions: false } %>
      </td>
    </tr>
</table>

</body>
