.w-row.result-item
  .w-col.w-col-4
    %p
      %strong
        = @notification.cart_item.name
  .w-col.w-col-2
    %p
      = @notification.cart_item.description
  .w-col.w-col-2
    %p
      %strong
        = @notification.cart_item.
      %br
        %em Item #7510-01-519-4381
        %br
          %a{:href => "/advantage/catalog/product_detail.do?&oid=704213980&baseOid=&bpaNumber=GS-02F-XA002"} Link to the product
  .w-col.w-col-2
    %p.fssi-compliant.result-tag
      -# Display all compliances
      = @notification.compliances.first
  .w-col.w-col-2
    %p.result-item-price
      = @notification.cart_item.price
    %p.result-item-units
      = @notification.cart_item.units
