<body class="communicart-notification">
  <table class='reply-section'>
    <tr>
      <td class="w-container html-email-message">
        ------------------
        <br/>
        <strong>Please reply to this email with the response 'APPROVE' or 'REJECT' on its own line.</strong>
        <br/>
<% unless @prefix_template.blank? %>
  <%= render partial: @prefix_template, locals: {cart: @cart, title:  "Purchase Request"} %>
<% end %>
        <p>
          Additional comments:
        </p>

        <% unless @cart.comments.empty? %>
          <p>
            <%= @cart.comments.first.comment_text %>
          </p>
        <% end %>

        <br/>
      </td>
    </tr>
  </table>

<div style="width:800px">
  <%= render partial: @cart.cart_template_name, locals: {cart: @cart, title:  "Purchase Request"} %>
  <table class='reply-section'>
    <tr height="25"><td colspan=2 height="25" bgcolor="#f5f5f5"></td></tr>
    <tr id="approval-actions">
      <td colspan=2 align="center">
        <p>
          <%= link_to "Approve", approve_all_url(@approval), class: 'form-button' %>
          <%= link_to "Reject", approve_all_url(@approval, 'reject'), class: 'reject-link' %>

        </p>
        <p>
          <strong>
            <%= link_to "Or, view this request in your browser", carts_url %>
          </strong>
        </p>
        <p>
        <span class="action-block">
            <span class="tip-highlight">TIP:</span> <strong>If you want to reject this request</strong>, reply to this email with the word "Reject"
            on its own line and some comments as to why the request has been rejected.
        </span>
        </p>
      </td>
    </tr>


  </table>
</div>
</body>
