- content_for :header_icon, "emails/icon-truck-circle.png"
- top_head = t("mailer.proposal_mailer.emergency_proposal_created_confirmation.header",
  proposal_name: @proposal.name)
- cta_subheader = t("mailer.proposal_mailer.emergency_proposal_created_confirmation.subheader")
- proposal_link_text = t("mailer.view_request_cta")
- cta_subheader_foot = t("mailer.proposal_status_html", proposal_status: @proposal.status)

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader,
              vertical: "no-top-margin" }

%hr/

%table.container.contain-attributes
  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader_foot }

  / Start Panel Wrapper
  = render partial: "mail_shared/panel/proposal_attributes",
    locals: { proposal: @proposal }

  = render partial: "mail_shared/panel/vertical_buffer"

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "" }

  = render partial: "mail_shared/call_to_action/button",
    locals: { link_path: proposal_url(@proposal),
              link_text: proposal_link_text }
