%table.full-width.header
  %tr
    %td.hero
    %td
      = image_tag "emails/icon-truck-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr
    %td.header
      = t("mailer.proposal_mailer.emergency_proposal_created_confirmation.header", proposal_name: @proposal.name)

%hr

%table.two-thirds-width
  %tr
    %td.subheader
      = t("mailer.proposal_mailer.emergency_proposal_created_confirmation.subheader")

%table.two-thirds-width.proposal-attributes
  - Ncr::WorkOrderFields.new(@proposal.client_data).display.each_slice(2) do |fields|
    %tr
      %td
        %p.proposal-data-label
          = fields[0][0]
        %p.proposal-data-attribute
          = fields[0][1]
      %td
        %p.proposal-data-label
          = fields[1][0]
        %p.proposal-data-attribute
          = fields[1][1]

= render partial: "mail_shared/proposal_button",
  locals: { button_text: t("mailer.proposal_mailer.emergency_proposal_created_confirmation.cta") }

= render partial: "mail_shared/footer"
