%table.full-width.header
  %tr
    %td.hero
    %td
      = image_tag "emails/icon-truck-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr
    %td.header
      = t("mailer.proposal_mailer.emergency_proposal_created_confirmation.header", proposal_name: @proposal.name)

%hr

%table.two-thirds-width
  %tr
    %td.subheader
      = t("mailer.proposal_mailer.emergency_proposal_created_confirmation.subheader")


= render partial: "mail_shared/proposal_attributes",
  locals: { proposal: @proposal }

= render partial: "mail_shared/proposal_button",
  locals: { button_text: t("mailer.proposal_mailer.emergency_proposal_created_confirmation.cta") }
