%table.full-width.header
  %tr
    %td.hero
    %td
      = image_tag "emails/icon-pencil-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr
    %td.header
      = t("mailer.proposal_mailer.proposal_updated_step_complete.header")

%hr

%table.two-thirds-width
  %tr
    %td.subheader
      = t("mailer.proposal_mailer.proposal_updated_step_complete.subheader",
        modifier_name: @modifier.full_name,
        proposal_name: @proposal.name)

= render partial: "mail_shared/proposal_attributes",
  locals: { proposal: @proposal }

= render partial: "mail_shared/proposal_button",
  locals: { button_text: t("mailer.proposal_mailer.proposal_updated_step_complete.cta") }
