- content_for :header_icon, "emails/icon-pencil-circle.png"
- top_head = t("mailer.proposal_mailer.proposal_updated_while_step_pending.header")
- cta_subheader = t("mailer.proposal_mailer.proposal_updated_while_step_pending.subheader")
- proposal_link_text = t("mailer.view_request_cta")
- attachment_icon = "emails/icon-clipped_page.png"
- panel_icon = "emails/button-circle.png"
- panel_action_date = time_and_date(@proposal.updated_at)
- panel_action = t("mailer.modifier_action", full_name: @modifier.full_name)
- cta_subheader_foot = t("mailer.proposal_status_html",
  proposal_status: @proposal.detailed_status.capitalize)

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head, style: "no-margin-wrapper" }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader, vertical: "" }

  / Start Panel Wrapper
  = render partial: "mail_shared/panel/header"

  = render partial: "mail_shared/panel/row_description",
    locals: { icon: panel_icon,
              action: panel_action,
              datetime: panel_action_date }

  = render partial: "mail_shared/panel/row_content_modified",
    locals: { comment: @comment, last: true }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "", height: "half" }

%hr/
/ Start Container
%table.container.contain-attributes

  = render partial: "mail_shared/call_to_action/subheader",
    locals: {  bold: "not-bold", subheader: cta_subheader_foot }

  = render partial: "mail_shared/approval/chain",
    locals: { proposal: @proposal }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "" }

  = render partial: "mail_shared/panel/proposal_attributes",
    locals: { proposal: @proposal }

  = render partial: "mail_shared/panel/vertical_buffer"

%table.container

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "" }

  = render(partial: "mail_shared/call_to_action/email_reply",
    locals: { step: @step, show_step_actions: true, proposal: @proposal })
