- content_for :header_icon, "emails/icon-pencil-circle.png"
- top_head = t("mailer.proposal_mailer.proposal_updated_no_action_required.header")
- cta_subheader = t("mailer.updated_subheader_html",
  public_id: @proposal.public_id,
  requester_name: @proposal.requester.full_name,
  proposal_status: @proposal.detailed_status.capitalize)
- proposal_link_text = t("mailer.view_request_cta")
- panel_action = t("mailer.modifier_action", full_name: @modifier.full_name)
- panel_icon = "emails/button-circle.png"
- panel_action_date = time_and_date(@proposal.updated_at)

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head, style: "no-margin-wrapper" }

%table.container

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader, vertical: "no-top-margin" }

  / Start Panel Wrapper
  = render partial: "mail_shared/panel/header"

  = render partial: "mail_shared/panel/row_description",
    locals: { icon: panel_icon, action: panel_action, datetime: panel_action_date }

  = render partial: "mail_shared/panel/row_content_modified",
    locals: { comment: @comment, last: true }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: "" }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: t("mailer.reply_to_comment") }

  = render partial: "mail_shared/call_to_action/button",
    locals: { link_path: proposal_url(@proposal),
              link_text: proposal_link_text }

