= t("mailer.proposal_mailer.proposal_updated_while_step_pending.header")
= t("mailer.proposal_mailer.proposal_updated_while_step_pending.subheader")

= render partial: "mail_shared/proposal_attributes",
  locals: { proposal: @proposal }

%table.two-thirds-width
  %tr
    %td.email-button
      = link_to generate_approve_url(@step), target: "_blank" do
        %p.email-button
          = @step.action_name

= render partial: "mail_shared/proposal_comment_button",
  locals: { button_text: t("mailer.proposal_mailer.proposal_updated_while_step_pending.cta") }
