<div class="container content">
  <h4>White House Service Center</h4>
  <h3>Credit Card Purchase Request</h3>

  <%= form_for @proposal_form do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :vendor %>
      <%= f.text_field :vendor, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :amount %>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :amount, class: 'form-control', step: 0.01 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :approver_email, "Approving Official's Email Address" %>
      <%= f.email_field :approver_email, class: 'form-control' %>
    </div>
    <%= f.submit "Submit for approval", class: 'btn btn-default' %>
  <% end %>
</div>
