<h3>White House Service Center</h3>
<h2>Credit Card Purchase Request</h2>

<%= form_for @proposal_form do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :vendor %>
  <%= f.text_field :vendor %>
  <%= f.label :amount %>
  <%= f.number_field :amount, step: 0.01 %>
  <%= f.submit "Submit for approval" %>
<% end %>
