- @summaries.each do |summary|
  %div.inset
    %table.table.table-striped.table-bordered.table-responsive.summary-table
      %caption
        %span.namespace= summary.client_namespace
        Requests: Fiscal Year
        = summary.fiscal_year
      %tbody
        %tr.status
          %th Pending
          %td
            %span.status_count
              = summary.status(:pending)
            %span.percentage
              = number_to_percentage(summary.status_percent(:pending))
          %td.amount
            %span.subtotal
              = number_to_currency(summary.subtotal(:pending))
            %span.percentage
              = number_to_percentage(summary.subtotal_percent(:pending))
        %tr.status
          %th Canceled
          %td
            %span.status_count
              = summary.status(:canceled)
            %span.percentage
              = number_to_percentage(summary.status_percent(:canceled))
          %td.amount
            %span.subtotal
              = number_to_currency(summary.subtotal(:canceled))
            %span.percentage
              = number_to_percentage(summary.subtotal_percent(:canceled))
        %tr.status
          %th Completed
          %td
            %span.status_count
              = summary.status(:completed)
            %span.percentage
              = number_to_percentage(summary.status_percent(:completed))
          %td.amount
            %span.subtotal
              = number_to_currency(summary.subtotal(:completed))
            %span.percentage
              = number_to_percentage(summary.subtotal_percent(:completed))
        %tr
          %th
            Total
            %br
            %span.clarification (excludes canceled)
          %td
            = summary.status_sum
          %td.amount
            = number_to_currency(summary.total)
