%div
  = t("mailer.greeting", name: @proposal.requester.full_name)
  %br
  = t("mailer.proposal_created_confirmation.body")
= render partial: "comments", locals: { comments: @proposal.comments }
= render partial: "attachments", locals: { proposal: @proposal }
= client_partial(@proposal.client_slug,
  "proposal_mail",
  locals: { proposal: @proposal, title: "Purchase Request" })
