<div class="inset">
  <div class="row">

    <div class="col-md-12 col-xs-12">
      <h1 class="communicart_header">
        <%= proposal.name %>
      </h1>

      <div class="communicart_description">
        <p>
          Purchase Request: <strong>#<%= proposal.public_identifier %></strong>
        </p>
        <p>
          Requested by:
          <strong><%= proposal.requester.full_name %></strong>
        </p>
        <%= client_partial(proposal.client, 'external_id',
                           locals: {proposal: proposal}) %>
      </div>
    </div>

    <%- if @proposal.linear? %>
      <div class="col-md-12">
        <table class="col-md-12 data_container" border='0'>
          <%= render partial: "shared/email_status" %>
        </table>
      </div>
    <%- else %>
      <div class="col-md-4  col-xs-12 communicart_description">
        <div class="purchase-status">
          <h5 class="<%= @proposal.status %>"><%= @proposal.display_status %></h5>
        </div>
      </div>
    <%- end %>
  </div>
  <div class="row">
    <%= client_partial(proposal.client, 'proposal_properties',
                       locals: {proposal: proposal }) %>
  </div>
</div>

<% if policy(proposal).can_edit? %>
  <%= client_partial(proposal.client, 'restart_link',
                     locals: {proposal: proposal})
  %>
<% end %>

<%- if proposal.flow == 'parallel'  %>
  <%- if proposal.approvals.approved.any?  %>
    <div class="approval-status-container">
      <div id="approval-status">
        <h3>Request approved by</h3>
        <ul>
          <%- proposal.approvals.approved.each do |approval| %>
            <li class='icon-approved'>
              <%= approval.user_email_address %>
              <span class='timestamp'>on <%= l approval.updated_at %></span>
            </li>
          <%- end %>
        </ul>
      </div>
    </div>
  <%- end %>

  <%- if proposal.approvals.pending.any?  %>
    <div class="approval-status-container">
      <div id="approval-status">
        <h3>Waiting for approval from</h3>
        <ul class="left">
          <%- proposal.approvals.pending.each do |approval| %>
          <li class='icon-pending'>
            <%= approval.user_email_address %>
          </li>
          <%- end %>
        </ul>
        <ul class="right">
          <%- proposal.approvals.approved.each do |approval| %>
          <li class='icon-approved'>
            <%= approval.user_email_address %>
          </li>
          <%- end %>
        </ul>
      </div>
    </div>
  <%- end %>
<%- end %>



<div class="cart-comments-container">
  <div id="cart-comments">
    <h3>Comments on this purchase request</h3>
    <%- if @show_comments %>
      <%= form_for [proposal, Comment.new] do |f| %>
        <%= f.text_area :comment_text, rows: 5 %>

        <div class='row text-area-info-container'>
          <div class='col-xs-7 col-sm-6 text-area-info-web'>
            <p>
              These comments will be sent to your requester through email
            </p>
          </div>
          <p class='col-xs-5 col-sm-6 text-area-button'>
            <%= submit_tag "Send a Comment", id: :add_a_comment %>
          </p>
        </div>
      <%- end %>

      <% if proposal.comments.any? %>
        <% proposal.comments.each do |c| %>
          <div class='comment-item'>
            <div class='row'>
              <% unless c.user.nil? %>
                <p class='comment-sender col-sm-6 col-xs-12'>
                  <strong><%= c.user_full_name %></strong>
                </p>
              <% end %>
              <p class='comment-date col-sm-6 col-xs-12'>
                <%= date_with_tooltip(c.created_at) %>
              </p>
            </div>

            <div class='row'>
              <p class='comment-text col-sm-6 col-xs-12'>
                <%= c.comment_text %>
              </p>
            </div>
          </div>
        <% end %>
      <% else %>
      <p class='empty-list-label'>
        No comments have been added yet
      </p>
      <% end %>
    <%- end %>
  </div>
</div>

<% if policy(proposal).can_approve_or_reject? %>
  <div class="centered">
    <p>
      <%= link_to "Approve",
          approval_response_path(approver_action: 'approve',
                                 # @todo: get rid of cart
                                 cart_id: proposal.cart.id, version: proposal.version
                                 ), class: 'form-button' %>
    </p>
  </div>
<% end %>
