<% content_for :title, "My Requests" %>
<div class="inset">
  <%= render partial: 'search_ui' %>
  <div class="row pending-pr">
    <div class="col-md-12">
      <h3>Pending Purchase Requests</h3>
      <%- if @pending_data.rows.any? %>
        <%= render partial: "shared/table", locals: {container: @pending_data} %>
      <%- else %>
        <p class="empty-list-label">No pending purchase requests</p>
      <%- end %>
    </div>
  </div>


  <div class="row past-pr">
    <div class="col-sm-10">
      <h3>Recently Completed Purchase Requests</h3>
    </div>
  </div>
  <%- if @approved_data.rows.any? %>
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: "shared/table", locals: {container: @approved_data} %>
      </div>
    </div>

    <div class="row">
      <%= render partial: "archive_link" %>
    </div>

  <%- else %>
    <p class="empty-list-label">No recently completed purchase requests</p>
  <%- end %>


  <%- if @cancelled_data.rows.any? %>
    <div class="row past-pr">
      <div class="col-sm-10">
        <h3>Cancelled Purchase Requests</h3>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: "shared/table", locals: {container: @cancelled_data} %>
        </div>
      </div>
  <%- end %>
</div>
