<% content_for :title, "My Requests" %>
<div class="inset">
  <%= render partial: 'search_ui' %>
  <div class="row pending-pr">
    <div class="col-md-12">
      <h3>Pending Purchase Requests</h3>
      <%- if @pending_listing.rows.any? %>
        <%= render partial: "shared/listing", locals: {listing: @pending_listing} %>
      <%- else %>
        <p class="empty-list-label">No pending purchase requests</p>
      <%- end %>
    </div>
  </div>


  <div class="row past-pr">
    <div class="col-sm-10">
      <h3>Recently Completed Purchase Requests</h3>
    </div>

    <%= render partial: 'archive_link' %>
  </div>
  <%- if @approved_listing.rows.any? %>
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: "shared/listing", locals: {listing: @approved_listing} %>
      </div>
    </div>

    <div class="row">
      <%= render partial: "archive_link" %>
    </div>

  <%- else %>
    <p class="empty-list-label">No recently completed purchase requests</p>
  <%- end %>


  <%- if @cancelled_listing.rows.any? %>
    <div class="row past-pr">
      <div class="col-sm-10">
        <h3>Cancelled Purchase Requests</h3>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: "shared/listing", locals: {listing: @cancelled_listing} %>
        </div>
      </div>
  <%- end %>
</div>
