- if display_search_ui?
  = render partial: "shared/search_ui", locals: { show_adv_search_ui: params[:search] }

.inset
  - page_title = @report ? @report.name : "Proposals participated in"
  %h1 #{page_title}
  - if @proposals_data.es_response
    %strong #{pluralize(@proposals_data.es_response.results.total, 'result')} for:
  - else
    %strong Currently viewing results for:
  - if @search_query["humanized"].present?
    %pre
      = @search_query["humanized"]
  %br
  %a{ :href => proposals_path } Clear search terms
  #query-links.pull-right
    %ul.list-inline
      %li
        %a{ href: "#{download_proposals_path}?#{request.query_parameters.to_query}", class: "search button" }
          Download
          %i.fa.fa-download
      %li
        %a{ href: "#", data: { "modal-type": "save_report", style: "expand-right" }, class: "search button" }
          Save as Report
          %i.fa.fa-save
  = datespan_header(@start_date, @end_date)
  - if @proposals_data.rows.any?
    = render partial: "shared/table", locals: {container: @proposals_data}
    #pages
      - if @proposals_data.es_response
        = paginate @proposals_data.es_response, current_page: (params[:page]||1).to_i
      - else
        = paginate @proposals_data, current_page: (params[:page]||1).to_i
  - if @proposals_data.rows.empty?
    .empty-list-label
      No results

:javascript
  // global var referenced by search.js
  var C2_SEARCH_QUERY = #{@search_query.to_json}

#card-for-modal.popup-modal
  #modal-wrapper.modal-wrapper
  #modal-template.modal-template
    = render partial: "proposals/details/modals/template", locals: { proposal: @proposal }
  #modal-content.modal-content
    #save-search.save_report-modal-content
      %h4{class: "popup-content-label"}
        Save as Report
      %p{class: "popup-content-desc"}
        %form.text-left{ role: "form" }
          %input#save-search-submit{ type: "submit", style: "display: none" }
          .form-group
            %label.control-label{ for: "saved-search-name" }
              Name
            %input#saved-search-name.form-control.required{ type: "text", name: "saved-search-name", required: true }
          .form-group
            %pre#save-search-query
      %p
        = button_tag "Cancel", class: "cancel-cancel-link form-button cancel-button", data: { "modal-event": "cancel" }
        = button_tag "Save", id: "save-search-button", class: "form-button", data: { "modal-event": "confirm" }
