= javascript_include_tag "vendors/sugar"
= javascript_include_tag "vendors/jquery.my"
= stylesheet_link_tag "redesign/app"

%script
  $('body').removeClass('webapp controller-proposals');

.row
  .medium-12.column.wrap-hard
    = render partial: "proposals/details/summary", locals: { proposal: @proposal }

.row
  .medium-6.column
    = render partial: "proposals/details/approvals", locals: { proposal: @proposal }
    = render partial: "proposals/details/activity", locals: { proposal: @proposal, history: @history }

  .medium-6.column
    = render partial: "proposals/details/request_details", locals: { proposal: @proposal }
    = # render partial: "proposals/details/purchase", locals: { proposal: @proposal }
    = render partial: "proposals/details/observer", locals: { proposal: @proposal }

= render partial: "proposals/details/action", locals: { proposal: @proposal }
