#mode-parent.view-mode
  .row
    .medium-12.column.wrap-hard
      = render partial: "proposals/details/summary", locals: { proposal: @proposal }
  .row.footer-buffer
    .medium-6.column
      = render partial: "proposals/details/approvals", locals: { proposal: @proposal }
    .medium-6.column
      = render partial: "proposals/details/request_details", locals: { proposal: @proposal }
      = render partial: "proposals/details/observer", locals: { proposal: @proposal }
      .row
        .medium-12.column.wrap-hard
          - if policy(@proposal).can_cancel?
            %div.fr.cancel-action
              = link_to "Cancel this request", cancel_form_proposal_path, class: "button secondary large cancel-request-button"
  = render partial: "proposals/details/action", locals: { proposal: @proposal }
