= stylesheet_link_tag "redesign/app"

%script
  $('body').removeClass('webapp controller-proposals');

.row
  .medium-12.column
    .card
      .card-head.column
        %a.large.button.secondary.fr.status-wrap{:href => ""}
          Status:
          %span.status-value 
            = @proposal.status.capitalize
        %h3
          = @proposal.public_id
        %h1.c2n_header
          = @proposal.name
        .c2n_description
          %p
            Requested by:
            %strong
              = @proposal.requester.full_name
            Requested on:
            %strong
              %span 
                = @proposal.created_at.strftime("%b %d, %Y at %l:%M%P")                 
.row
  .medium-6.column
    .card-for-approvals
      .row
        .medium-12.column
          .card
            .card-head.column
              %h2
                Approvals
            .content-content.column
              - @proposal.steps.each do |step|
                - if !step.user_id.nil?
                  .row.step-state.column.state-completed
                    .medium-2.column.text-center
                      %img{:alt => "", :src => "http://fakeimg.pl/32x32"}
                    .medium-10.column
                      %span.step-index.step-data
                        Step #{step.position - 1}
                      %span.approver.step-data
                        %span.approval-name                         
                          #{User.find(step.user_id).full_name},
                        %span.approver-role #{step_user_title(step)}
                      %span.approver-status.step-data
                    
    .card-for-activity
      .row
        .medium-12.column
          .card
            .card-head
              %h2.content-wrap-level
                Activity
            .content-content
              = form_for [@proposal, Comment.new] do |f|
                .row.column
                  .medium-12.column
                    = f.text_area :comment_text, rows: 5, placeholder: "Add a comment"
                .row
                  .medium-12.column.text-right.request-history-wrapper
                    .column
                      %label.attachment-container
                        %a{class: "button secondary round"}
                          %span.plus +
                          Attachment
                          = f.file_field :file, { style: "display: none" }
                      = submit_tag "Send", data: {"disable-if-empty" => "comment_comment_text"}, class: "button primary round no-margin-bottom"
                    
                .row
                  .medium-12.column
                    .column
                      = render partial: "proposals/details/activity", locals: {history: @history}

                .row
                  .medium-12.column.status-feed-actions.text-right
                    .column
                      = link_to 'View history', history_proposal_path(@proposal), class: "button secondary"
                      %a.button.primary.status-toggle-all Show all
  .medium-6.column
    .card-for-request-details
      .row
        .medium-12.column
          .card
            .card-head.column
              %h2
                Request Details
                = modify_client_button(@proposal, "Add / Edit", "button secondary fr large")
            .content-content.column
              .row
                .medium-12.column
                  %p.request-detail Computer needed for new developer
              .row.request-content-wrapper
                .medium-6.column.medium-table-cell.right-border
                  .detail-wrapper
                    %label.detail-element Expense type
                    %span.detail-value BA60
                  .detail-wrapper
                    %label.detail-element Direct pay
                    %span.detail-value No
                .medium-6.column.medium-table-cell
                  .detail-wrapper
                    %label.detail-element Org code
                    %span.detail-value P04M0001 (192X,192M) NON-INFRASTRUCTURE INFO TECHNOLOGY BR.
                  .detail-wrapper
                    %label.detail-element Function code
                    %span.detail-value -
                  .detail-wrapper
                    %label.detail-element Object field / SOC code
                    %span.detail-value -
                  .primary.callout.no-margin-bottom.no-padding-bottom
                    .row
                      .medium-4.column
                        %strong Total
                      .medium-8.column
                        .detail-wrapper
                          %label.detail-element Exact
                          %span.detail-value
                            %h4
                              %b $999.00
              .row.column
                .medium-12.callout.primary.column.medium-centered
                  .row
                    .medium-12.column
                      %h5
                        %b Line Item
                  .row
                    .medium-6.column
                      .detail-wrapper
                        %label.detail-element Vendor
                        %span.detail-value Apple Inc.
                      .detail-wrapper
                        %label.detail-element CL number
                        %span.detail-value -
                    .medium-6.column
                      .detail-wrapper
                        %label.detail-element Building number
                        %span.detail-value DC0000NA - NEBRASKA AVE COMPLEX
                      .primary.callout.no-margin-bottom.no-padding-bottom
                        .row
                          .medium-4.column
                            %strong Total
                          .medium-8.column
                            .detail-wrapper
                              %label.detail-element Exact
                              %span.detail-value
                                %h4
                                  %b $999.00
    .card-for-purchase-details
      .row
        .medium-12.column
          .card
            .card-head.column
              %h2
                Purchase Details
                = modify_client_button(@proposal, "Add / Edit", "button secondary fr large")
            .content-content.column
              .row
                .medium-12.column
                  %p Details here
                  .item-block
                    %img{:alt => "", :src => "http://fakeimg.pl/35x35"}
                      %a{:href => ""} Vendor_Estimate.pdf
    .card-for-observers
      .row
        .medium-12.column
          .card
            .card-head.column
              %h2
                Observers
                = modify_client_button(@proposal, "Add / Edit", "button secondary fr large")
            .content-content.column
              %ul
                %li Leonard Bogdonoff (Requester)
                %li communicart.budget.approver+ba61@gmail.com (Approver)
                %li ncr-wpm-ba61cc@gsa.gov (Approver)
                %li ncr_ba61_budgetrequests@gsa.gov (Approver)

.row
  .medium-12.column
    .card
      .card-head.column
        %ul#request-actions.centered
          - if policy(@proposal).can_edit?
            - unless @proposal.canceled?
              %li
                = modify_client_button(@proposal, "Modify Request", "button primary fr large")
          - if policy(@proposal).can_cancel?
            %li
              = link_to "Cancel this request", cancel_form_proposal_path
          - if current_user.admin?
            %li
              = link_to "View history", history_proposal_path(@proposal)
