.row.full-width-row.content-parent
  = render "layouts/c2_header_next"
  .large-12.banner-container
    - unless ENV["DISABLE_SANDBOX_WARNING"] == "true"
      = render partial: "shared/sandbox_warning"
    - unless ENV["DISABLE_BROWSER_WARNING"] == "true"
      = render partial: "shared/browser_warning"
  .medium-9.column.large-12.medium-offset-3.large-offset-2.content-main-wrapper
    = render partial: "layouts/user_header"
    = content_for?(:content) ? yield(:content) : yield
    - unless @skip_footer
      #footer.inset
        %p
          Find a bug, have a recommendation, or want to provide other feedback? We'd love to
          %a{:href => feedback_path, :target => "_blank"} hear from you!
