#sidebar-home.sidebar-home.column
  .sidebar-wrapper
    #header-identity
      - if signed_in?
        = link_to proposals_path do
          = image_tag "logo-c2.png"
      - else
        = link_to root_path do
          = image_tag "logo-c2.png"
      %button.button#header-toggle
        Menu
    .link-container
      = render "layouts/header_nav_next"
