<ul class="header-nav">
  <%- if signed_in? %>
    <li>
      <%= link_to current_user.email_address, profile_path %>
      <%= image_tag "icon-user.png", alt: " " %>
    </li>
    <li>
      <%= button_to "Logout", "/logout", method: :post, class: "login-link" %>
      <%= image_tag "icon-logout.png", alt: "Logout" %>
    </li>
  <%- else %>
    <li>
      <%= link_to "Sign in with Cloud.gov", auth_url(provider: :cg) %>
    </li>
  <%- end %>
  <li>
    <%= link_to "Help", help_index_path %>
  </li>
</ul>
<%- if signed_in? %>
  <div class="mycart-link">
    <ul class="header-nav">
      <li>
        <%= link_to "Requests", proposals_path %>
        <%= image_tag "img-cart.png", width: "18px", height: "16px" %>
      </li>
      <%= render client_specific_partial(current_user, "header_links") %>
      <%- if current_user.any_admin? %>
        <li>
          <a href="/summary" id="summary-link">Summary</a>
        </li>
      <%- end %>
    </ul>
  </div>
<%- end %>
