- if signed_in?
  - render template: "help/new_features"
  - new_feature_image = get_new_feature_image_tag(@new_feature_help_date)
  %ul.header-nav
    = render client_specific_partial(current_user, "header_links_next")

  %ul.side-secondary-nav
    %li
      = link_to "Reports", "/#{current_user.client_slug}/dashboard"
    %li
      = link_to "/help/new_features", class: "new-features-button" do
        = "New features "
        = new_feature_image.html_safe
    %li
      = link_to "Help", help_index_path
