= javascript_include_tag "details/views/action_bar"
= javascript_include_tag "details/views/attachment_card"
= javascript_include_tag "details/views/observer_card"
= javascript_include_tag "details/views/notifications"
= javascript_include_tag "details/views/details_request_card"
= javascript_include_tag "details/views/activity_card"
= javascript_include_tag "details/views/cancel_card"

= javascript_include_tag "details/state/details_request_form_state"
= javascript_include_tag "details/state/edit_mode"

= javascript_include_tag "details/data/details_save"

= javascript_include_tag "details/shell/c2"

= javascript_include_tag "details/app"
