= javascript_include_tag "details/views/view_helper"
= javascript_include_tag "details/views/action_bar"
= javascript_include_tag "details/views/attachment_card"
= javascript_include_tag "details/views/observer_card"
= javascript_include_tag "details/views/notifications"
= javascript_include_tag "details/views/details_request_card"
= javascript_include_tag "details/views/activity_card"
= javascript_include_tag "details/views/modal_card"
= javascript_include_tag "details/views/approvals_card"
= javascript_include_tag "details/state/form_change_state"
= javascript_include_tag "details/state/edit_mode"
= javascript_include_tag "details/views/list/list_view"
= javascript_include_tag "details/views/list/list_config"
= javascript_include_tag "details/views/shared/sidebar_nav"

= javascript_include_tag "details/data/details_save"
= javascript_include_tag "details/data/update_view"

= javascript_include_tag "details/shell/c2"
= javascript_include_tag "details/shell/action_bar_bridge"
= javascript_include_tag "details/shell/list_view_bridge"

= javascript_include_tag "details/app"

- unless Rails.env.test?
  = javascript_include_tag "https://www.ethn.io/32631.js", async: true

    
