%li.requests-button.no-hover
  %span.button-stub
    Requests
%li.button-divider
%li.request-related-button.view-all-button-wrapper{ class: current_proposal_status?('all') } 
  = link_to proposals_path(anchor: "all"), class: "view-all-button", data: { trigger: "all" } do
    View all
%li.button-divider
%li.request-related-button.pending-button-wrapper{ class: current_proposal_status?('pending') }
  = link_to proposals_path(anchor: "pending"), class: "pending-button", data: { trigger: "pending" } do
    Pending
    %span.request-count
      = proposal_count('pending')
%li.button-divider
%li.request-related-button.completed-button-wrapper{ class: current_proposal_status?('completed') }
  = link_to proposals_path(anchor: "completed"), class: "completed-button", data: { trigger: "completed" } do
    Completed
    %span.request-count
      = proposal_count('completed')
%li.button-divider
%li.request-related-button.canceled-button-wrapper{ class: current_proposal_status?('canceled') }
  = link_to proposals_path(anchor: "canceled"), class: "canceled-button", data: { trigger: "canceled" } do
    Canceled
    %span.request-count
      = proposal_count('canceled')
