%li.requests-button
  = link_to "Requests", proposals_path(anchor: "all"), data: { trigger: "all" }
%li.button-divider
%li.request-related-button.view-all-button-wrapper{ class: is_current_proposal_status('all') }
  = link_to "View all", proposals_path(anchor: "all"), class: "view-all-button", data: { trigger: "all" }
%li.button-divider
%li.request-related-button.pending-button-wrapper{ class: is_current_proposal_status('pending') }
  = link_to "Pending", proposals_path(anchor: "pending"), class: "pending-button", data: { trigger: "pending" }
  %span.request-count
    = proposal_count('pending')
%li.button-divider
%li.request-related-button.completed-button-wrapper{ class: is_current_proposal_status('completed') }
  = link_to "Completed", proposals_path(anchor: "completed"), class: "completed-button", data: { trigger: "completed" }
  %span.request-count
    = proposal_count('completed')
%li.button-divider
%li.request-related-button.canceled-button-wrapper{ class: is_current_proposal_status('canceled') }
  = link_to "Canceled", proposals_path(anchor: "canceled"), class: "canceled-button", data: { trigger: "canceled" }
  %span.request-count
    = proposal_count('canceled')
