= stylesheet_link_tag "redesign/app"
= stylesheet_link_tag "redesign/_print", media: "print"
= stylesheet_link_tag "hint.min.css"

= stylesheet_link_tag "DataTables/dataTables.foundation.css"
= stylesheet_link_tag "DataTables/buttons.foundation.css"
= stylesheet_link_tag "DataTables/fixedColumns.foundation.css"
= stylesheet_link_tag "DataTables/fixedHeader.foundation.css"
= stylesheet_link_tag "DataTables/responsive.foundation.css"
