<!DOCTYPE html>
<html>
<head>
  <title>C2</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <div class="flash success">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
