!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "#{yield(:title)} - " if content_for(:title).present?
      C2
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag
    /[if lt IE 9] <haml_loud> javascript_include_tag &quot;es5-shim.min.js&quot; </haml_loud>
    = javascript_include_tag "application"
    = render "layouts/analytics"
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}/
    - if @list_view_config
      %meta{ name: "list_view_config", :content => @list_view_config.html_safe }
    = render "layouts/meta_notice"
    = csrf_meta_tags
    = render partial: 'layouts/styles_next'
  %body{:class => "bodyclass webapp controller-#{controller_name} action-#{params[:action]} #{list_view_conditions ? "beta-list" : ""}"}
    = render "peek/bar"
    / = content_for?(:top_notification) ? yield(:top_notification) : ""
    = render 'layouts/application_next'
    = render partial: 'layouts/scripts_next'
