<!DOCTYPE html>
<html>
<head>
  <title>C2</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= render 'shared/topnav' if @current_user %>

<%= yield %>

</body>
</html>
