<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <%= "#{yield(:title)} - " if content_for(:title).present? %>
    C2
  </title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= render 'analytics' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body class="bodyclass webapp controller-<%= controller_name %> action-<%= params[:action] %>">

<%= render 'layouts/communicart_header' unless @hide_header %>

<div class="inset">
  <% flash_list.each do |key, value| %>
    <div class="row alert alert-<%= key %> <%= bootstrap_alert_class(key) %>"><%= value %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
